/*

PRIMARY STYLES

*/

// all front-end base styles are wrapped in the bdhwk class
// this is to explude these styles from the admin panel
.bdhwk {
  body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $white;
    color: $black;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    animation: bodyFade 1.5s forwards;
    font-family: $open;
  }
  // fade in effect on page load
  @keyframes bodyFade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  main {
    overflow: hidden;
  }

  //this is for the search popover
  .search-shrink-open {
    transform: scale(0.9);
    @include trans(0.5s);
    animation: searchShrinkOpen 0.5s ease 0.1s forwards;
  }
  @keyframes searchShrinkOpen {
    0% {
      transform: scale(0.85);
    }
    100% {
      transform: scale(1);
    }
  }

  .search-shrink-close {
    transform: scale(1);
    @include trans(0.5s);
    animation: searchShrinkClose 0.5s ease 0.1s forwards;
  }
  @keyframes searchShrinkClose {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.85);
    }
  }

  //text selection styles
  ::selection {
    background: $green;
    color: $white;
  }
  ::-moz-selection {
    background: $green;
    color: $white;
  }

  // base font styles
  // will be overwrtten to match the creative in the individual page fiels
  a {
    text-decoration: none;
    color: $black;
    webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  h1 {
    color: $black;
    font: 200 60px/68px $work;
    margin: 0px;
    @include breakpoint(800px) {
      font: 200 36px/42px $work;
    }
  }

  h2 {
    color: $black;
    font: 200 48px/52px $work;
    margin: 0px;
    @include breakpoint(800px) {
      font: 200 30px/34px $work;
    }
  }

  h3 {
    color: $black;
    font: 700 24px/28px $work;
    margin: 0px;
    @include breakpoint(800px) {
      font: 700 20px/28px $work;
    }
  }

  h4 {
    color: $black;
    font: 700 20px/24px $work;
    margin: 0px;
    @include breakpoint(800px) {
      font: 700 18px/22px $work;
    }
  }

  h5 {
    color: $white;
    font: 700 16px/18px $work;
    margin: 0px;
    @include breakpoint(800px) {
      font: 700 14px/18px $work;
    }
  }

  h6 {
    color: $black;
    font: 200 36px/42px $work;
    margin: 0px;
    @include breakpoint(800px) {
      font: 200 30px/38px $work;
    }
  }

  p {
    color: $gray-dark;
    font: 300 16px/28px $open;
    margin: 0px;
    @include breakpoint(800px) {
      font: 300 14px/23px $open;
    }
  }

  // base for all line elements on the page
  hr {
    border-bottom: 1px solid $black;
  }

  //wrap for max spread of elements
  .wrap {
    width: 80%; //normal spread
    max-width: 1364px;
    margin: 0px auto;
  }

  //safety exity button
  #sftExt-frontend-button.rectangle {
    z-index: 99999;
    border-radius: 8px;
    border: 1px solid rgba($white, 0.2);
    padding: 8px 20px;
    animation: buttonPulse 3.5s 5 forwards;
    animation-delay: 2s;
    @include trans(0.2s);
    @include breakpoint(745px) {
      border-radius: 0px;
      border: none;
      border-top: 1px solid rgba($white, 0.2);
      right: 0px;
      bottom: 0px;
      width: 100%;
      padding: 8px 0px;
    }
    &:hover {
      background-color: $purple;
      @include trans(0.2s);
    }
  }

  //pulse animation
  @keyframes buttonPulse {
    0% {
      box-shadow: 0px 0px 0px 0px rgba($purple, 1);
    }
    29% {
      box-shadow: 0px 0px 0px 40px rgba($purple, 0);
    }
    30% {
      box-shadow: 0px 0px 0px 0px rgba($purple, 0);
    }
    31% {
      box-shadow: 0px 0px 0px 0px rgba($green, 1);
    }
    60% {
      box-shadow: 0px 0px 0px 40px rgba($green, 0);
    }
    61% {
      box-shadow: 0px 0px 0px 0px rgba($green, 0);
    }
    62% {
      box-shadow: 0px 0px 0px 0px rgba($white, 1);
    }
    91% {
      box-shadow: 0px 0px 0px 40px rgba($white, 0);
    }
    92% {
      box-shadow: 0px 0px 0px 0px rgba($white, 0);
    }
  }

  //buttons
  // base for all button elements on the page
  @mixin button-color($color, $background, $border) {
    background-color: $background;
    color: $color;
    //border: 5px solid $border;
    &:hover {
      @include trans(0.2s);
      background-color: rgba($background, 0.7);
      //border: 5px solid rgba($border, 1);
    }
  }

  .btn,
  button {
    position: relative;
    font: 700 22px/47px $work;
    text-align: center;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border-radius: $border-rad;
    padding: 0px 20px;
    display: block;
    @include trans(0.2s);
    //$color, $background, $border
    @include breakpoint(800px) {
      font: 700 14px/32px $work;
      height: 32px;
    }
    &-green {
      @extend .btn;
      @include button-color($white, $green, $green);
    }
    &-purple {
      @extend .btn;
      @include button-color($white, $purple, $purple);
    }
    &-green-sm {
      @extend .btn;
      @include button-color($white, $green, $green);
      font: 700 14px/32px $work;
      height: 32px;
    }
    &-purple-sm {
      @extend .btn;
      @include button-color($white, $purple, $purple);
      font: 700 14px/32px $work;
      height: 32px;
    }
  }

  .link {
    position: relative;
    font: 700 18px/20px $work;
    color: $purple;
    &:after {
      content: '';
      position: absolute;
      right: 0px;
      top: 2px;
      transform: translateX(30px);
      height: 18px;
      width: 18px;
      border-radius: 22px;
      background: url('../src/icons/arrow-link.svg') center no-repeat;
      @include trans(0.2s);
    }
    &:hover {
      &:after {
        transform: translateX(36px);
        @include trans(0.2s);
      }
    }
  }

  //404 page
  .error404 .not-found {
    padding: 141px 0px 0px 0px;
    @include breakpoint(925px) {
      padding: 90px 0px 0px 0px;
    }
    .header-not-found {
      margin: 180px 0px;
      h2 {
        margin: 0px 0px 30px 0px;
      }
      p {
        max-width: 500px;
      }
      a {
        color: $purple-light;
        @include trans(0.3s);
        &:hover {
          color: $green;
          @include trans(0.3s);
        }
      }
    }
    .search-bar {
      background-color: $green;
      padding: 80px 0px 100px 0px;
      margin: 54px 0px 0px 0px;
      input {
        display: block;
        border: none;
        border-bottom: 2px solid $white;
        color: $white;
        background-color: $green;
        width: 100%;
        padding: 20px 0px 20px 0px;
        height: 50px;
        outline: none;
        font: 700 74px/74px $open;
        @include breakpoint(700px) {
          height: 60px;
          font: 700 38px/38px $open;
        }
        @include breakpoint(400px) {
          height: 50px;
          font: 700 24px/24px $open;
        }
      }
      p {
        color: $white;
        text-align: right;
        margin: 5px 0px 0px 0px;
      }
      @include placeholder {
        color: $white;
      }
    }
  }
} // end of front-end styles .bdhwk

// wp-admin styles for block admin panel
// all admin panel items should be wrapped in .wp-admin
.wp-admin {
  //making the content editor expand a little bit further
  .wp-block {
    max-width: 1920px;
    width: 80%;
    margin: 50px auto;
  }

  //hiding the patterns button
  #tab-panel-1-patterns,
  #tab-panel-2-patterns,
  #tab-panel-3-patterns,
  #tab-panel-4-patterns,
  #tab-panel-5-patterns,
  #tab-panel-6-patterns,
  #tab-panel-7-patterns,
  #tab-panel-8-patterns,
  #tab-panel-9-patterns,
  #tab-panel-10-patterns {
    display: none;
  }
}
