/*

BLOCK

*/


 .accordion-link-list{
    padding:0px 0px 140px 0px;
    @include breakpoint(925px){padding:0px 0px 90px 0px;}
    .heading{
      h2{text-align:center;}
      p{
        margin:28px auto;
        width:80%;
        max-width:655px;
        text-align:center;
      }
    }

    .accordion{
      display:block;
      border-bottom:1px solid $gray;
      h6{
        position:relative;
        width:calc(100% - 50px);
        padding:42px 0px;
        cursor:pointer;
        @include trans(0.3s);
        &:hover{
          @include trans(0.3s);
          opacity:0.7;
        }
        &:after{
          content:"";
          position:absolute;
          top:41px; right:-50px;
          height:42px; width:42px;
          transform:rotate(-90deg);
          border-radius:42px;
          background:$green url('../src/icons/arrow.svg') center no-repeat;
          @include trans(0.3s);
          @include breakpoint(800px){height:30px; width:30px; top:46px;}
        }
      }
      ul{
        list-style-type:none;
        padding:0px;
        margin:0px;
        display:flex;
        flex-wrap:wrap;
        max-height:0px;
        opacity:0;
        transform: scaleY(0);
        overflow:hidden;
        animation: shrinkAcc 0.3s ease-in-out;
        transition: max-height 0.3s ease-in-out;
        li{
          width:calc(33.333% - 80px);
          margin:0px 40px 60px 40px;
          @include breakpoint(1024px){
            width:calc(50% - 80px);
          }
          @include breakpoint(600px){
            width:calc(100% - 0px);
            margin:0px 0px 60px 0px;
          }
          h3{
            margin:0px 0px 20px 0px;
          }
        }
        .full{
          width:calc(100% - 80px);
        }
        a{
          text-decoration: underline;
          @include trans(0.2s);
          &:hover{
            @include trans(0.2s);
            color:$green;
          }
        }
      }
      &-open{
        @extend .accordion;
        ul{
          max-height:2000px;
          transform: scaleY(1);
          opacity:1;
          margin:38px 0px;
          animation: growAcc 0.5s ease-in-out;
          // transition: opacity 1s ease-in-out;
          transition: max-height 0.5s ease-in-out;
        }
        h6{
          &:after{
            content:"";
            @include trans(0.3s);
            transform:rotate(90deg);
          }
        }
        
      }
    }
 } //end

 @keyframes shrinkAcc {
  0% {
    opacity:1;
    margin:38px 0px;
    transform: scaleY(1);
  }
  99%{
    opacity:0;
    margin:0px 0px;
    transform: scaleY(1);
  }
  100% {
    opacity:0;
    margin:0px 0px;
    transform: scaleY(0);
  }
}

@keyframes growAcc {
  0% {
    opacity:0;
    margin:0px 0px;
    transform: scaleY(0);
  }
  1%{
    opacity:0;
    margin:0px 0px;
    transform: scaleY(1);
  }
  100% {
    opacity:1;
    margin:38px 0px;
    transform: scaleY(1);
  }
}


 


 //admin display overrides
.wp-admin{
  .accordion-link-list{
    
  }
}
/*

BASIC BLOCK STYLES

*/

//blank template 
.blank{
  padding:150px 0px 100px 0px;
  width:90%; //normal spread
  max-width:1200px;
  margin:0px auto;
  span{
    display:block;
  }
  .title{
    margin:0px auto 50px;
  }
}

//basic text blocks
.basic-headline{
  margin:40px auto 10px;
  h1, h2, h3, h4, h5, h6{
    letter-spacing: .5px;
  }
}


.basic-text{
  margin:10px auto 40px;
  p{
    margin:10px auto 20px;
  }
}


.basic-wysiwyg{
  a{
    color:$purple-light;
    @include trans(0.2s);
    &:hover{
      color:$green;
      @include trans(0.2s);
    }
  }
  ul{
    margin:30px 0px;
    li{
      color:$gray-dark;
      font:400 16px/24px $open;
      margin:0px;
      @include breakpoint(768px){font:400 14px/22px $open;}
    }
  }
  strong{
    font:700 16px/24px $work;
    color:black;
    @include breakpoint(768px){font:700 14px/22px $work;}
  }
}


 //admin display overrides
.wp-admin{
  .callout{
    
  }
}
/*

BLOCK

*/


 .divider-contact{
    background-color:$green;
    border-radius:$border-rad;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:50px 60px;
    margin:0px auto 140px !important;
    @include breakpoint(925px){
      margin:0px auto 90px !important;
      flex-wrap:wrap;
    }
    @include breakpoint(750px){
      transform:translateX(-33px); 
      padding:50px 80px;
    }

    //text selection styles
    ::selection {
      background: $purple;
      color:$white;
    }
    ::-moz-selection {
      background: $purple;
      color:$white;
    }


    span{
      display:block;
      padding:0px 100px 0px 0px;
      @include breakpoint(1024px){padding:0px 50px 0px 0px;}
      @include breakpoint(925px){
        width:calc(100% - 50px);
        margin:0px 0px 20px 0px;
        padding:0px 50px 0px 0px;
      }
      h4{
        font:200 36px/36px $work;
        color:$white;
        @include breakpoint(925px){margin:0px 0px 50px 0px;}
      }
      ul{
        padding:0px;
        list-style-type: none;
        li{
          p{
            color:$white;
            strong{
              font-weight:700;
            }
            a{
              color:$white;
              @include trans(0.2s);
              &:hover{
                @include trans(0.2s);
                color:$purple-light;
              }
            }
          }
        }
      }
    }
 } //end


 //admin display overrides
.wp-admin{
  .divider-contact{
    
  }
}
/*

BLOCK

*/


 .divider-text-callout,
 .divider-text-callout-{
    background-color:$purple;
    padding:73px 0px;
    margin:0px 0px 140px 0px;
    @include breakpoint(925px){margin:0px 0px 90px 0px;}

    //text selection styles
    ::selection {
      background: $purple;
      color:$white;
    }
    ::-moz-selection {
      background: $purple;
      color:$white;
    }

    .wrap{
      display:flex;
      align-items:center;
      flex-wrap:wrap;
      @include breakpoint(1024px){justify-content:center;}
      span{
        display:block;
        @include breakpoint(1024px){
          display:flex;
          align-items:center;
          justify-content:center;
          flex-wrap:wrap;
          @include breakpoint(900px){justify-content:flex-start;}
        }
        h2{
          color:$white;
          width:80%;
          margin:0px 0px 27px 0px;
        }
        p{
          color:$white;
          width:80%;
        }
        .btn-green{
          display:inline-block;
          padding:0px 50px;
        }
        &:first-of-type{
          width:70%;
          @include breakpoint(1024px){width:60%;}
          @include breakpoint(900px){width:100%;}
        }
        &:last-of-type{
          width:30%;
          @include breakpoint(1024px){width:40%;}
          @include breakpoint(900px){width:100%; margin:50px 0px 0px 0px;}
        }
      }
    }
    &-purple{
      @extend .divider-text-callout;
    }
    &-white{
      @extend .divider-text-callout;
      background-color:white;
      .wrap{
        span{
          h2{
            color:$black;
          }
          p{
            color:$black;
          }
        }
      }
    }
 } //end




 //admin display overrides
.wp-admin{
  .divider-text-callout{
    
  }
}
/*

BLOCK EVENTS LIST

*/


 .events-list{
  padding: 0 0 140px;
  @include breakpoint(925px){padding:0px 0px 90px 0px;}
  @include breakpoint(800px){padding:0px 0px 40px 0px;}
  h2{
    text-align:center;
  }
  .headline-copy{
    margin: 28px auto;
    width: 80%;
    max-width: 655px;
    text-align: center;
  }

  .btn-purple{
    max-width:250px;
    margin:90px auto 0px;
    @include breakpoint(800px){
      margin:45px auto 0px; 
      max-width:150px;
    }
  }

  //all events block  
  .all-events{
    display:flex;
    flex-wrap:wrap;
    margin:45px auto 0px;
    article{
      position:relative;
      width:calc(33.333% - 60px);
      background-color:$purple;
      padding:30px 0px 90px 0px;
      margin:20px 30px;
      border-radius:$border-rad;
      display:flex;
      flex-wrap: wrap;
      align-content: space-between;
      @include breakpoint(1300px){
        margin:15px 15px;
        width:calc(33.333% - 90px);
      }
      @include breakpoint(1200px){
        margin:15px 15px;
        width:calc(50% - 90px);
      }
      @include breakpoint(800px){
        margin:15px 15px;
        width:calc(100% - 60px);
      }
      .top{
        display:block;
        .date{
          text-align:right;
          color:$white;
          font-size:11px;
          text-transform: uppercase;
          width:calc(100% - 60px);
          margin:0px 0px 15px 0px;
          padding:0px 30px 0px 30px;
        }
        h4{
          color:$white;
          margin:0px 0px 35px 0px;
          padding:0px 30px 0px 30px;
          width:calc(100% - 60px);
        }
        p{
          color:$white;
          margin:0px 0px 25px 0px;
          padding:0px 30px 0px 30px;
          width:calc(100% - 60px);
        }
        .image{
          width:100%; height:177px;
          margin:0px 0px 30px 0px;
          display:none;
        }
      }
      .link{
        position:absolute;
        right:60px; bottom:45px;
        color:$white;
        &:after{
          top:0px;
          background:url('../src/icons/arrow-link.svg') center no-repeat;
        }
      }
    }
  }

  // featured events block
  .featured-events{
    display:flex;
    flex-wrap:wrap;
    margin:45px auto 0px;
    article{
      position:relative;
      width:calc(33.333% - 120px);
      background-color:$green;
      padding:30px 30px 90px 30px;
      margin:20px 30px;
      border-radius:$border-rad;
      display:flex;
      flex-wrap: wrap;
      align-content: space-between;
      @include breakpoint(1300px){
        margin:15px 15px;
        width:calc(33.333% - 90px);
      }
      @include breakpoint(1024px){
        margin:15px 0px;
        width:calc(100% - 60px);
      }
      .top{
        display:block;
        .date{
          text-align:right;
          color:$white;
          font-size:11px;
          text-transform: uppercase;
          width:100%;
          margin:0px 0px 30px 0px;
        }
        h4{
          color:$white;
          margin:0px 0px 35px 0px;
          width:100%;
        }
        p{
          color:$white;
          margin:0px 0px 25px 0px;
          width:100%;
        }
        .image{
          width:100%; height:177px;
          margin:0px 0px 30px 0px;
          border-radius: $border-rad;
          display:none;
        }
      }
      .link{
        position:absolute;
        right:60px; bottom:45px;
        color:$white;
        &:after{
          top:0px;
          background:url('../src/icons/arrow-link-purple.svg') center no-repeat;
        }
      }
    }
  }



 }


 

 //admin display overrides
.wp-admin{
  .text-with-button{
    
  }
}
/*

FOOTER CALLOUT BLOCK

*/


 .footer-callout{
  padding:0px 0px 140px 0px;
  @include breakpoint(925px){padding:0px 0px 90px 0px;}
  ul{
    padding:0px;
    margin:0px 0px 10px 0px;
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
    @include breakpoint(1150px){
      flex-wrap:wrap;
      margin:0px 0px 10px 0px;
    }
    li{
      position: relative;
      height:390px;
      width:auto;
      flex: 1;
      margin:0px 10px 0px 0px;
      @include trans(0.3s);
      &:last-of-type{margin:0px 0px 0px 0px;}
      @include breakpoint(1150px){
        width:100%; height:200px;
        flex-basis:100%;
        margin:0px 0px 10px 0px;
      }
      &:hover{
        @include trans(0.3s);
        background-blend-mode: normal !important;
      }
      .cover{
        position:absolute;
        top:0; bottom:0px;
        width:100%; height:100%;
        background: $green;
        background: linear-gradient(45deg, $green 0%, $green 20%, rgba(9,9,121,0) 100%);
        opacity:0.7;
        @include trans(0.3s);
      }
      h3{
        display:block;
        position:absolute;
        bottom:50px; left:60px;
        width:calc(100% - 100px);
        color:$white;
        font:700 36px/38px $work;
        text-shadow: 2px 2px 10px #2b41158a;
        @include breakpoint(1400px){
          left:30px;
          width:calc(100% - 60px);
        }
      }
    }
  }
 } //end


 //admin display overrides
.wp-admin{
  .footer-callout{
    
  }
}
/*

GALLER/SLIDER BLOCK

*/


.gallery-slider{
  position:relative;
  width:100%;
  padding:0px 0px 140px 0px;
  @include breakpoint(925px){padding:0px 0px 90px 0px;}
  #gallery{
    position:relative;
    width:100%; height:500px;
    margin:0px auto;  
    overflow:hidden;
    @include breakpoint(900px){height:400px;}
    @include breakpoint(745px){height:300px; overflow: visible;}
    @include breakpoint(575px){height:200px;}
    .slick-track{
      height:500px;
      @include breakpoint(900px){height:400px;}
      @include breakpoint(745px){height:300px;}
      @include breakpoint(575px){height:200px;}
    }
    .slick-arrow{
      position:absolute;
      top:calc(50% - 29px);
      height:58px; width:58px;
      border-radius:58px;
      padding:0px;
      outline:none;
      border:none;
      text-indent:100000000px;
      overflow:hidden;
      z-index:9;
      background:rgba($purple,1) url('../src/icons/arrow.svg') center no-repeat;
      @include trans(0.3s);
      @include breakpoint(1024px){
        top:calc(50% - 19px);
        height:38px; width:38px;
        border-radius:38px;
      }
      @include breakpoint(745px){
        height:28px; width:28px;
        border-radius:28px;
        top:calc(100% + 15px);
      }
      &:hover{
        opacity:0.9;
        @include trans(0.3s);
      }
    }
    .slick-prev{
      left:30px;
      @include breakpoint(1024px){left:40px;}
      @include breakpoint(745px){left:150px;}
    }
    .slick-next{
      right:30px;
      transform: scaleX(-1);
      @include breakpoint(1024px){right:40px;}
      @include breakpoint(745px){right:150px;}
    }
    .slick-slide{
      margin:0px 15px;
      //forced 16:9
      height:100%; width:889px;
      border-radius:$border-rad;
      outline:none;
      border:none;
      &:focus{outline:none;}
      @include breakpoint(900px){width:711px;}
      @include breakpoint(745px){width:533px;}
      @include breakpoint(575px){width:356px;}
      //img is hidden but available for readers/bots alt tags
      img{opacity:0;}
      //you tube embed
      iframe{
        height:100%; width:889px;
        border-radius: $border-rad;
        overflow: hidden;
        -webkit-transform: translateZ(0);
        @include breakpoint(900px){width:711px;}
        @include breakpoint(745px){width:533px;}
        @include breakpoint(575px){width:356px;}
      }
      //video
      .video, .image{
        position:relative;
        display:flex;
        align-items:center;
        justify-content: space-between;
        height:100%; width:889px;
        background-color:$black;
        border-radius: $border-rad;
        overflow: hidden;
        -webkit-transform: translateZ(0);
        @include breakpoint(900px){width:711px;}
        @include breakpoint(745px){
          width:533px;
          justify-content:center;
          flex-wrap:wrap;
        }
        @include breakpoint(575px){width:356px;}
        .text{
          display:block;
          z-index:2;
          margin:0px 0px 0px 60px;
          width:80%;
          @include breakpoint(745px){
            width:100%;
            margin:0px auto;
          }
          h2{
            color:$white;
            margin:0px 0px 30px 0px;
            text-transform:uppercase;
            @include breakpoint(745px){
              font: 400 16px/20px $work;
              width:80%;
              margin:0px auto 15px;
            }
          }
          p{
            color:$white;
            @include breakpoint(745px){
              width:80%;
              margin:0px auto;
              font:300 12px/16px $open;
            }
          }
          .cta{
            margin:30px 0px 0px 0px;
            max-width:130px;
            @include breakpoint(745px){
              margin:15px 0px 0px 10%;
            }
          }
        }
        .cover{
          position:absolute;
          width:100%; height:100%;
          left:0; top:0;
          z-index:1;
          background-color:rgba(black, 1);
          opacity:0.5;
          display:block;
          border-radius:$border-rad;
        }
        img{
          display:block;
          margin:0px 150px 0px 0px;
          z-index:2;
          opacity:2;
          @include trans(0.2s);
          cursor:pointer;
          @include breakpoint(745px){margin:-120px 0px 0px 0px;}
          @include breakpoint(575px){
            width:60px;
            margin:-80px 0px 0px 0px;
            opacity:0.8;
          }
          &:hover{
            opacity:0.5;
            @include trans(0.2s);
          }
        }
        video{
          position:absolute;
          top:0px; left:0px;
          height:100%; width:100%;
          z-index:0;
        }
        
      }
    }
  }
}





 //admin display overrides
.wp-admin{
  .gallery-slider{
    
  }
}
/*

HUBSPOT FORM BLOCK

*/


 .gravity-form{
  max-width:1200px;
  margin:0px auto;
  padding:0px 0px 140px 0px;
  @include breakpoint(925px){padding:0px 0px 90px 0px;}
  h2{
    margin:0px 0px 40px 0px;
    width:100%;
  }
  p{
    width:100%;
    margin:0px 0px 30px 0px;
  }
  //GRAVITY STYLES
  .gform_wrapper{
    width:100%;
    form{
      width:100%;
    }
    .gform-body{
      width:calc(100% - 120px);
      .gfield{
        width:100%;
        .ginput_container{
          display:flex;
          width:100%;
          input, textarea{
            padding:10px 20px;
            outline:none;
            border: 1px solid $gray-dark;
            border-radius: 8px;
            z-index:0;
            width:100%;
            font:300 14px/20px $open;
          }
        }
      }
      .gfield_label{
        font:300 14px/20px $open;
      }
    }
    .gform_footer{
      margin:0px;
      padding:0px;
      .gform_button{
        position:relative;
        height:37px;
        margin:0px;
        width:100px;
        z-index:1;
        background-color:$green;
        color:$white;
        border-radius:8px;
        outline:none;
        border:none;
        font: 700 14px/32px $work;
        cursor:pointer;
        @include trans(0.2s);
        &:hover{
          @include trans(0.2s);
          background-color:rgba($green, 0.7);
        }
      }
    }
  }
  .gform_confirmation_wrapper{
    width:100%;
    .gform_confirmation_message{
      font:300 14px/20px $open;
      color:$white;
      width:100%;
    }
  }
  .gform_validation_errors{display:none;}
  .gfield_validation_message{
    font: 700 14px/32px $work;
    color:#ff2e00;
    width:100%;
    background:transparent;
    border:none;
    padding:0px;
  }
 } //end


 //admin display overrides
.wp-admin{
  .gravity-form{
    
  }
}
/*

HISTORY SLIDER BLOCK

*/


.history-slider{
  position:relative;
  background-color:$purple;
  padding:100px 0px;
  margin:0px 0px 140px 0px;
  @include breakpoint(1000px){padding:70px 0px;}
  @include breakpoint(925px){margin:0px 0px 90px 0px;}

  //text selection styles
  ::selection {
    background: $purple;
    color:$white;
  }
  ::-moz-selection {
    background: $purple;
    color:$white;
  }


  .heading{
    display:flex;
    margin:0px auto;
    width:70%;
    @include breakpoint(1000px){
      flex-wrap:wrap;
    }
    h2{
      color:$white;
      margin:0px 150px 0px 0px;
      @include breakpoint(1000px){
        width:100%; 
        text-align:center;
        margin:0px 0px 30px 0px;
      }
    }
    p{
      color:$white;
      @include breakpoint(1000px){width:100%; text-align:center;}
    }
  }

  .wrap{
    position:relative;
    overflow:hidden;
    z-index:1;
    &:after{
      content:"";
      position:absolute;
      top:calc(50% + 20px); left:0px;
      width:100%; height:5px;
      background: $white;
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 100%);
      @include breakpoint(500px){
        top:calc(0% + 83px);
      }
    }
  }

  .slick-arrow{
    position:absolute;
    top:calc(50% + 23px);
    height:58px; width:58px;
    border-radius:58px;
    padding:0px;
    outline:none;
    border:none;
    text-indent:100000000px;
    overflow:hidden;
    background:$purple-light url('../src/icons/arrow.svg') center no-repeat;
    @include trans(0.3s);
    @include breakpoint(1561px){top:calc(50% + 34px);}
    @include breakpoint(1181px){top:calc(50% + 49px);}
    &:hover{
      opacity:0.7;
      @include trans(0.3s);
    }
  }
  .prev{
    left:100px;
    @include breakpoint(1561px){left:50px;}
  }
  .next{
    right:100px;
    transform: scaleX(-1);
    @include breakpoint(1561px){right:50px;}
  }


  .swipe-icon{
    display:none;
    @include breakpoint(1000px){
      display:block;
      width:150px;
      margin:50px auto 0px;
    }
    @include breakpoint(600px){margin:30px auto 0px;}
    img, svg{width:100%;}
  }
  

  #history{
    margin:42px auto 0px;
    padding:200px 0px;
    overflow:visible;
    background-color:transparent;
    z-index:2;
    @include breakpoint(500px){padding:0px 0px 100px 0px;}
    .slick-list{overflow:visible;}
    .slick-slide{
      position:relative;
      width:25%; height:124px;
      padding:70px 30px 0px 30px;
      margin:0px 0px 0px 70px;
      border-left:1px solid #DEDEDE;
      transform:translate(0px, calc(50% - 10px));
      @include breakpoint(650px){height:220px;}
      @include breakpoint(500px){
        padding:50px 30px 0px 30px;
        margin:0px 0px 0px 30px;
        transform:translate(0px, calc(50% - 103px));
      }
      &:focus{outline:none;}
      h5{
        color:$white;
        font:700 20px/24px $work;
        margin:0px 0px 20px 0px;
      }
      p{
        color:$white;
        min-width:470px;
        @include breakpoint(1000px){min-width:320px;}
        @include breakpoint(500px){min-width:200px;}
      }
      &:after{
        content:"";
        width:24px; height:24px;
        background-color:$green;
        border-radius:24px;
        position:absolute;
        left:-13px;
        z-index:99;
      }
      &:nth-of-type(odd){
        &:after{
          top:0px;
        }
      }
      //top line of history
      &:nth-of-type(even){
        transform:translate(0px, calc(-50% + 14px));
        padding:0px 30px 70px 30px;
        @include breakpoint(500px){
          transform:translate(0px, calc(0% - -31px));
          padding:50px 30px 0px 30px;
        }
        &:after{
          bottom:0px;
          @include breakpoint(500px){top:0px; bottom:auto;}
        }
      }
    }
  }
} //end


 //admin display overrides
.wp-admin{
  .history-slider{
    
  }
}
/*

HOME HERO STYLES

*/

 .home-hero{
  position:relative;
  margin:0px 0px 46px 0px;

  //text selection styles
  ::selection {
    background: $purple;
    color:$white;
  }
  ::-moz-selection {
    background: $purple;
    color:$white;
  }

  .bg-image{
    position:relative;
    width:100%; height:calc(100vh - 250px);
    display:flex;
    align-items:center;
    justify-content: flex-end;
    //background image and styles are brought in through the block
    @include breakpoint(1300px){height:calc(100vh - 150px);}
    @include breakpoint(600px){
      height:calc(100vh - 0px);
      justify-content: flex-start;
    }
    @include breakpoint-vert(879px){
      height:calc(100vh - 0px);
    }
    @include breakpoint-vert(555px){
      height:calc(100vh + 50px);
    }

    span{
      position:absolute;
      top:0; left:0;
      display:block;
      width:100%; height:100%;
      background: rgb(80,39,117);
      background: linear-gradient(90deg, rgba(80,39,117,0.9) 0%, rgba(9,9,121,0) 21%, rgba(9,9,121,0) 35%, rgba(80,39,117,0.9) 100%);
      @include breakpoint(600px){
        height:50vh;
        position:absolute;
        top:0px;
        background-color:$purple;
        background: linear-gradient(180deg, rgba(87,33,121,1) 0%, rgba(87,33,121,1) 70%, rgba(255,255,255,0) 100%);
        background: transparent;
      }
    }

    .text{
      position:relative;
      width:40%; height:auto;
      margin: 0 90px 0 0;
      display:flex;
      flex-wrap:wrap;
      @include breakpoint(600px){
        width:calc(90% - 30px);
        margin: 0 0px 0px 30px;
      }
      h1{
        color:$white;
        margin:0px 0px 30px 0px;
        width:100%;
      }
      p{
        color:$white;
        margin:0px 0px 30px 0px;
        width:100%;
      }
      .btn{
        max-width:215px;
        @include breakpoint(750px){display:inline-block;}
      }
    }
  }


  .links{
    width:100%;
    transform:translateY(-120px);
    @include breakpoint(750px){transform:translateY(-30px)}
    //verticle breakpoit
    @include breakpoint-vert(750px){transform:translateY(-30px)}
    ul{
      width:95%; //normal spread
      max-width:1364px;
      margin:0px auto;
      padding:0px;
      list-style-type: none;
      display:flex;
      flex-wrap:wrap;
      li{
        width:calc(25% - 152px);
        margin:0px 28px 0px 28px;
        padding:39px 48px;
        background-color:$green;
        border-radius: $border-rad;
        display:flex;
        flex-wrap:wrap;
        @include breakpoint(1344px){
          margin:0px 12px 0px 12px;
          width:calc(25% - 120px);
        }
        @include breakpoint(1080px){
          width:calc(50% - 120px);
          margin:0px 12px 12px 12px;
        }
        @include breakpoint(540px){
          width:100%;
        }
        h3{
          color:$white;
          margin:0px 0px 20px 0px;
          width:100%;
        }
        p{
          color:$white;
          margin:0px 0px 20px 0px;
          width:100%;
        }
        a{
          display:inline-block;
          align-self: flex-end;
        }
      }
    }
  }
}


 //admin display overrides
.wp-admin{
  .home-hero{
    .bg-image{
      height:400px;
    }
    .text{
      width:50%;
      right:30px;
      left:auto;
      .btn-green{
        position:relative;
        font: 700 14px/38px $work;
        text-align:center;
        width:150px;
        border-radius:$border-rad;
        padding:0px 20px;
        display:block;
        background-color:$green;
        color:$white;
      }
    }
    .links{
      transform: translateY(0px);
    }
    .links ul li{
      width:25%;
    }
  }
}
/*

HUBSPOT FORM BLOCK

*/


 .hubspot{
  max-width:1200px;
  margin:0px auto;
  padding:0px 0px 140px 0px;
  @include breakpoint(925px){padding:0px 0px 90px 0px;}
  h2{
    margin:0px 0px 40px 0px;
    width:100%;
  }
  p{
    width:100%;
    margin:0px 0px 30px 0px;
  }
 } //end


 //admin display overrides
.wp-admin{
  .text-2-col-list{
    
  }
}
/*

IMAGE STACK BLOCK

*/


 .image-stack{

  ul{
    padding:0px;
    list-style-type: none;
    li{
      display:flex;
      flex-wrap:wrap;
      align-items:center;
      margin:0px 0px 175px;
      @include breakpoint(800px){margin:0px 0px 125px;}
      img{
        width:50%;
        border-radius:$border-rad;
        @include breakpoint(800px){
          width:100%;
          margin:0px 0px 44px 0px;
        }
      }
      span{
        display:block;
        width:calc(50% - 150px);
        margin:0px 0px 0px 150px;
        @include breakpoint(1100px){
          width:calc(50% - 75px);
          margin:0px 0px 0px 75px;
        }
        @include breakpoint(800px){
          width:100%;
          margin:0px 0px 0px 0px;
        }
        h2{
          margin:0px 0px 50px 0px;
          width:90%;
        }
        p{
          margin:0px 0px 60px 0px;
          width:100%;
        }
      }
    }
  }

  .stack-staggered{
    li:nth-of-type(even){
      flex-direction: row-reverse;
      span{
        margin:0px 150px 0px 0px;
        @include breakpoint(1100px){
          width:calc(50% - 75px);
          margin:0px 75px 0px 0px;
        }
        @include breakpoint(800px){
          width:100%;
          margin:0px 0px 0px 0px;
        }
        p{
          margin:0px 0px 60px 0px;
        }
      }
    }
  }

  .stack-right{
    li{
      flex-direction: row-reverse;
      span{
        margin:0px 150px 0px 0px;
        @include breakpoint(1100px){
          width:calc(50% - 75px);
          margin:0px 75px 0px 0px;
        }
        @include breakpoint(800px){
          width:100%;
          margin:0px 0px 0px 0px;
        }
        p{
          margin:0px 0px 60px 0px;
        }
      }
    }
  }


 } //end


 //admin display overrides
.wp-admin{
  .image-stack{
    
  }
}
/*

IMAGE WITH TEXT CALLOUT BLOCK

*/


 .image-text-callout{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    padding:0px 0px 140px 0px;
    @include breakpoint(925px){
      width: 100%;
      flex-direction: column-reverse;
      padding:0px 0px 90px 0px;
    }

    .image-side{
      position:relative;
      //these styles are driven by inline so that we can sub out the background image via wordpress
      width:50%; //min-height:800px;
      border-radius:$border-rad;
      @include breakpoint(925px){width: 100%;}
      .cover{
        display:none;
        width:100%; height:100%;
        background: $green;
        background: linear-gradient(90deg, $green 0%, rgba(9,9,121,0) 21%, rgba(9,9,121,0) 35%, $green 100%);
      }
  
      .text{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
        padding:70px;
        @include breakpoint(557px){padding:50px 20px;}
        h3{
          color:$white;
          margin:30px 0px 62px 0px;
          text-transform:uppercase;
          width:100%;
        }
        span{
          width:100%;
          display:block;
          margin:30px 0px 30px 0px;
          p{
            color:$white;
          }
          p:first-of-type{
            font:700 16px/20px $open;
            margin:0px 0px 12px 0px;
          }
          p:last-of-type{
            font:700 44px/48px $work;
          }
        }
      }
    }


    .text-side{
      width:calc(50% - 80px);
      margin:0px 0px 0px 80px;
      color:$gray-dark;
      font:300 16px/28px $open;
      @include breakpoint(800px){font:300 14px/24px $open;}
      @include breakpoint(1100px){
        margin:0px 0px 0px 80px;
        width:calc(50% - 80px);
      }
      @include breakpoint(925px){
        width: 100%;
        margin:0px 0px 80px 0px;
      }
      h2{
        color:$black;
        margin:0px 0px 50px 0px;
        width:90%;
        @include breakpoint(925px){width:100%}
      }
      p{
        color:$black;
        margin:0px 0px 60px 0px;
        width:95%;
        @include breakpoint(925px){width:100%}
      }
    }

 } //end


 //admin display overrides
.wp-admin{
  .image-text-callout{
    
  }
}
/*

IMAGE WITH TEXT

*/


 .image-with-text{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    padding:0px 0px 140px 0px;
    @include breakpoint(925px){
      width: 100%;
      flex-direction: column-reverse;
      padding:0px 0px 90px 0px;
    }

    .image-side{
      position:relative;
      //these styles are driven by inline so that we can sub out the background image via wordpress
      // background: url('../src/img/temp-06.jpg') left no-repeat;
      // background-size:cover;
      // background-color: $green;
      // background-blend-mode: multiply;
      width:30%; //min-height:800px;
      border-radius:$border-rad;
      @include breakpoint(925px){width: 100%;}
      .cover{
        position:absolute;
        top:0; left:0;
        width:100%; height:100%;
        background: $purple;
        background: linear-gradient(90deg, rgba($purple, 0.2) 0%, rgba(9,9,121,0) 21%, rgba(9,9,121,0) 35%, rgba($purple, 0.2) 100%);
        border-radius:$border-rad;
      }

      img{opacity:0;}
  
      .text{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
        padding:70px;
        @include breakpoint(557px){padding:50px 20px;}
        h3{
          color:$white;
          margin:30px 0px 62px 0px;
          text-transform:uppercase;
          width:100%;
        }
        span{
          width:100%;
          display:block;
          margin:30px 0px 30px 0px;
          p{
            color:$white;
          }
          p:first-of-type{
            font:700 16px/20px $open;
            margin:0px 0px 12px 0px;
          }
          p:last-of-type{
            font:700 44px/48px $work;
          }
        }
      }
    }


    .text-side{
      width:calc(70% - 80px);
      margin:0px 0px 0px 80px;
      @include breakpoint(1100px){
        margin:0px 0px 0px 80px;
        width:calc(50% - 80px);
      }
      @include breakpoint(925px){
        width: 100%;
        margin:0px 0px 80px 0px;
      }
      h2{
        color:$black;
        margin:0px 0px 50px 0px;
        width:90%;
        @include breakpoint(925px){width:100%}
      }
      p{
        color:$black;
        margin:0px 0px 60px 0px;
        width:95%;
        @include breakpoint(925px){width:100%}
      }
    }

 } //end


 //admin display overrides
.wp-admin{
  .image-text-callout{
    
  }
}
/*

INTERNAL HERO LOCK

*/


 .hero-internal{
  position:relative;
  margin:0px 0px 140px 0px;
  padding:107px 0px 0px 0px;
  @include breakpoint(1060px){padding:88px 0px 0px 0px;}
  @include breakpoint(925px){margin:0px 0px 90px 0px;}

  //text selection styles
  ::selection {
    background: $purple;
    color:$white;
  }
  ::-moz-selection {
    background: $purple;
    color:$white;
  }


  .bg-image{
    position:relative;
    width:100%; min-height:600px;
    display:flex;
    align-items:center;
    z-index:1;
    //background image and styles are brought in through the block
    @include breakpoint(1300px){height:calc(100vh - 150px);}
    @include breakpoint(600px){
      height:calc(100vh - 90px);
      min-height:0px;
      align-items:flex-end;
    }

    span{
      position:absolute;
      top:0; bottom:0; left:0;
      margin:auto;
      display:block;
      z-index:0;
      width:100%; height:100%;
      background: rgb(80,39,117);
      background: linear-gradient(90deg, rgba(80,39,117,0.9) 0%, rgba(9,9,121,0) 50%, rgba(80,39,117,0.2) 70%, rgba(80,39,117,0.4) 100%);
      @include breakpoint(600px){
        height:50vh;
        position:absolute;
        top:calc(100% - 50vh);
        background-color:$purple;
        background: linear-gradient(0deg, rgba(87,33,121,0.8) 0%, rgba(87,33,121,0.7) 70%, rgba(255,255,255,0) 100%);
      }
    }

    .text{
      z-index:1;
      width:50%;
      max-width:550px;
      padding:100px 0px 100px 150px;
      @include breakpoint(1240px){padding:0px 0px 0px 30px;}
      @include breakpoint(600px){
        width:80%;
        padding:0px 0px 0px 0px;
        margin:0px auto 50px;
      }
      h1{
        color:$white;
        margin:0px 0px 30px 0px;
      }
      p{
        color:$white;
        margin:0px 0px 30px 0px;
      }
      .btn{
        max-width:215px;
      }
    }
  }
  
  .bg-image.no-callout{
    min-height:0px;
  }

  .hero-callout{
    position:relative;
    transform:translateY(-90px);
    background-color:$green;
    border-radius:$border-rad;
    display:flex;
    flex-wrap:wrap;
    padding:50px 60px;
    width:calc(90% - 120px);
    max-width:1200px;
    margin:0px auto -90px;
    z-index:2;
    @include breakpoint(1024px){
      margin:0px auto 0px;
      padding:50px 30px;
      width:calc(90% - 60px);
      transform:translateY(30px);
    }
    @include breakpoint(600px){padding:36px 30px;}
    span{
      display:flex;
      flex-wrap:wrap;
      width:50%;
      @include breakpoint(600px){width:100%;}
      h2{
        color:$white;
        font:700 48px/48px $work;
        width:100%;
        margin:0px 0px 18px 0px;
        @include breakpoint(1024px){font:700 30px/34px $work;}
        @include breakpoint(600px){text-align:center;}
      }
      p{
        color:$white;
        font:200 36px/36px $work;
        width:100%;
        @include breakpoint(1024px){font:200 24px/24px $work;}
        @include breakpoint(600px){
          text-align:center;
          font:200 20px/20px $work;
        }
      }
      .tel{
        color:$white;
        font:700 48px/48px $work;
        width:100%;
        text-align:right;
        @include breakpoint(1024px){font:700 30px/34px $work;}
        @include breakpoint(600px){text-align:center;}
      }
      .btn-purple{
        min-width:200px;
        margin:0px 0px 18px 0px;
        margin-left: auto;
        height:47px;
        @include breakpoint(1024px){min-width:150px;}
        @include breakpoint(600px){margin:30px auto;}
      }
    }
  }



 } //end


 //admin display overrides
.wp-admin{
  .hero-internal{
    
  }
}
/*

BLOCK LEADERSHIP LIST

*/


 .leadership-list{
  padding: 0 0 140px;
  @include breakpoint(925px){padding:0px 0px 90px 0px;}
  h2{
    margin:0px 0px 50px 0px;
  }
  ul{
    margin:15px 0px;
    padding:0px;
    list-style-type:none;
    display:flex;
    flex-wrap:wrap;
    li{
      width:calc(33% - 50px);
      color:$gray-dark;
      margin:0px 50px 50px 0px;
      @include breakpoint(768px){
        width:calc(50% - 25px);
      }
      @include breakpoint(500px){
        width:100%;
        margin:0px 0px 50px 0px;
      }
      &:nth-of-type(even){
        @include breakpoint(768px){
          margin:0px 0px 50px 0px;
          width:calc(50% - 25px);
        }
      }
      .profile{
        width:150px; height:170px;
        border-radius: $border-rad;
        margin:0px 0px 15px 0px;
        //display:none;
        img{
          opacity:0;
        }
      }
      h4{
        color:$gray-dark;
        margin:0px 0px 5px 0px;
      }
      p{
        margin:0px 0px -5px 0px;
        @include breakpoint(768px){
          margin:0px 0px 5px 0px;
          font:400 14px/14px $open;
        }
      }
    }
  }

 } //end


 //admin display overrides
.wp-admin{
  .text-with-button{
    
  }
}
/*

BLOCK LOCATION LIST

*/


 .location-list{
  padding: 0 0 140px;
  @include breakpoint(925px){padding:0px 0px 90px 0px;}
  h2{
    margin:0px 0px 40px 0px;
    color:$black;
    text-align:center;
  }
  p{
    color:$gray-dark;
    text-align:center;
    max-width:569px; 
    margin:0px auto 0px;
  }

  .locations-grid{
    display:flex;
    flex-wrap:wrap;
    transform:translateX(-15px);
    margin:80px 0px 0px 0px;
    @include breakpoint(1100px){transform:translateX(0px);}
    .block{
      width:calc(33.333% - 115px);
      margin: 0px 15px 30px 15px;
      padding:30px 40px;
      border:1px solid $gray;
      border-radius: $border-rad;
      @include breakpoint(1100px){
        width:calc(50% - 115px);
      }
      @include breakpoint(680px){
        width:100%;
        margin: 0px 0px 30px 0px;
      }
      h4{
        margin:0px 0px 20px 0px;
      }
      .phone{
        margin:0px 0px 15px 0px;
        text-align:left;
      }
      .address{
        margin:0px 0px 25px 0px;
        text-align:left;
        line-height:18px;
      }
    }
  }

 } //end


 //admin display overrides
.wp-admin{
  .location-list{
    
  }
}
/*

BLOCK

*/


 .number-callout{
    position:relative;
    width:100%;
    margin:0px 0px 140px 0px;
    background-color:$purple;
    padding:100px 0px;
    @include breakpoint(925px){margin:0px 0px 90px 0px;}
    @include breakpoint(600px){padding:50px 0px;}

    //text selection styles
    ::selection {
      background: $green;
      color:$white;
    }
    ::-moz-selection {
      background: $green;
      color:$white;
    }

    div{
      display:flex;
      justify-content: center;
      align-items:flex-start;
      @include breakpoint(1100px){
        flex-wrap:wrap;
      }
      span{
        display:block;
        //margin:0px 50px 0px 50px;
        @include breakpoint(1100px){
          width:calc(50% - 100px);
          margin:50px 50px 50px 50px;
        }
        @include breakpoint(763px){
          width:100%;
          margin:50px 0px 50px 0px;
        }
        .figure{
          color:$white;
          font:700 60px/60px $work;
          margin:0px 50px 27px 50px;
          text-align:center;
          @include breakpoint(1100px){margin:0px 0px 27px 0px;}
        }
        .caption{
          color:$white;
          font:700 18px/28px $open;
          text-align:center;
          margin:0px 50px 0px 50px;
          @include breakpoint(1100px){margin:0px 0px 0px 0px;}
        }
      }
    }
 } //end


 //admin display overrides
.wp-admin{
  .number-callout{
    
  }
}
/*

BLOCK

*/


 .recent-posts{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding:0px 0px 140px 0px;
    @include breakpoint(925px){padding:0px 0px 90px 0px;}
    article{
      width:350px;
      @include breakpoint(1400px){width:300px;}
      @include breakpoint(1200px){width:250px;}
      @include breakpoint(1100px){width:350px;}
      @include breakpoint(947px){width:300px;}
      @include breakpoint(813px){width:250px;}
      @include breakpoint(670px){width:100%;}
      img{
        width:100%; height:auto;
        border-radius:$border-rad;
        margin:0px 0px 21px 0px;
      }
      .date{
        font:300 12px/12px $work;
        text-transform: uppercase;
        margin:0px 0px 18px 0px;
      }
      h3{
        font-weight:200;
        margin:0px 0px 11px 0px;
      }
      .snippet{
        color:$gray-dark;
      }
      &:last-of-type{
        @include breakpoint(1100px){display:none;}
      }
      &:nth-of-type(2){
        @include breakpoint(670px){display:none;}
      }
    }

 } //end


 //admin display overrides
.wp-admin{
  .recent-posts{
    
  }
}
/*

SPONSORS LIST BLOCK

*/


 .sponsors-list{
    display:flex;
    flex-wrap:wrap;
    padding: 0 0 140px;
    @include breakpoint(925px){padding:0px 0px 90px 0px;}
    span{
      display:block;
      width:calc(100% - 550px);
      margin:0px;
      @include breakpoint(1400px){width:calc(100% - 450px);}
      @include breakpoint(1000px){width:100%;}
      
      h2{margin:40px 0px 30px 0px;}
      p{margin:0px 0px 30px 0px;}
      strong{font-weight:700;}
      .link{
        display:inline-block;
        margin:7px 0px 0px 0px;
      }
      ul{
        list-style-type:none;
        padding:0px;
        width:100%;
        display:flex;
        flex-wrap:wrap;
        margin:0px;
        li{
          margin:0px 25px;
          width:calc(33% - 50px);
          img{width:100%; height:100%;}
          @include breakpoint(1500px){width:calc(50% - 50px);}
          // @include breakpoint(1130px){width:calc(50% - 50px);}
          // @include breakpoint(1000px){width:calc(25% - 50px);}
          // @include breakpoint(700px){width:calc(33% - 50px);}
          // @include breakpoint(500px){width:calc(50% - 50px);}
        }
      }

      &:first-of-type{
        width:300px;
        margin:0px 250px 0px 0px;
        @include breakpoint(1400px){margin:0px 150px 0px 0px;}
        @include breakpoint(1000px){
          width:100%;
          margin:0px;
        }
      }

    }
 } //end


 //admin display overrides
.wp-admin{
  .sponsors-list{
    
  }
}
/*

BLOCK

*/


 .template-class{

 } //end


 //admin display overrides
.wp-admin{
  .template-class{
    
  }
}
/*

IMAGE WITH TEXT

*/

.tabbed-image-with-text{
  padding:0px 0px 140px 0px;
  @include breakpoint(925px){padding:0px 0px 90px 0px;}
  .tabs{
    margin:0px 0px 100px 0px;
    ul{
      list-style-type:none;
      padding:0px;
      display:flex;
      justify-content: center;
      li{
        width:220px; height:61px;
        border:1px solid $gray-dark;
        color:$gray-dark;
        text-align:center;
        font:700 24px/61px $work;
        cursor:pointer;
        @include trans(0.2s);
        @include breakpoint(925px){font:700 18px/61px $work;}
        @include breakpoint(600px){
          height:41px;
          font:700 14px/41px $work;
        }
        &:hover{
          background-color:$gray;
          @include trans(0.2s);
        }
        &:nth-of-type(2){
          border-top:1px solid $gray-dark;
          border-bottom:1px solid $gray-dark;
          border-right:none;
        }
        &:nth-of-type(3){
          border-top:1px solid $gray-dark;
          border-bottom:1px solid $gray-dark;
          border-right:none;
        }
        &:first-of-type{
          border-top:1px solid $gray-dark;
          border-left:1px solid $gray-dark;
          border-bottom:1px solid $gray-dark;
          border-right:none;
          border-radius: 8px 0px 0px 8px;
        }
        &:last-of-type{
          border:1px solid $gray-dark;
          border-radius: 0px 8px 8px 0px;
        }
      }
      .active{
        background-color:$green;
        color:$white;
        cursor:default;
        &:hover{
          background-color:$green;
          color:$white;
        }
      }
    }
  }


  span{
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    display:none;
    @include breakpoint(925px){flex-direction: column-reverse;}
    .image-side{
      position:relative;
      width:50%; //min-height:800px;
      border-radius:$border-rad;
      @include breakpoint(925px){width: 100%;}
      img{width:100%;}
    }

    .text-side{
      width:calc(50% - 180px);
      margin:0px 180px 0px 0px;
      @include breakpoint(1100px){
        margin:0px 0px 0px 80px;
        width:calc(50% - 80px);
      }
      @include breakpoint(925px){
        width: 100%;
        margin:50px 0px 0px 0px;
      }
      h2{
        color:$black;
        margin:0px 0px 50px 0px;
        width:90%;
        @include breakpoint(925px){width:100%}
      }
      p{
        color:$black;
        margin:0px 0px 60px 0px;
        width:80%;
        @include breakpoint(925px){width:100%}
      }
    }

 }

 .active-tab{
  display:flex;
 }
}

 


 //admin display overrides
.wp-admin{
  .tabbed-image-with-text{
    
  }
}
/*

BLOCK

*/


 .testimonial-slider{
    background-color:$purple;
    padding:73px 0px;
    margin:0px 0px 140px 0px;
    @include breakpoint(925px){margin:0px 0px 90px 0px;}
    h4{
      color:$white;
      text-transform:uppercase;
      text-align:center;
    }

    #testimonials{
      width:730px;
      margin:42px auto 0px;
      @include breakpoint(833px){width:85%;}
      .slick-slide{
        max-width:730px;
        width:90%;
        margin:0px auto;
        p{
          color:$white;
          font:300 24px/34px $open;
          text-align:center;
          @include breakpoint(833px){font:300 18px/28px $open;}
        }
        .name{
          font:700 20px/24px $work;
          margin:24px 0px 0px 0px;
          @include breakpoint(833px){font:700 16px/26px $work;}
        }
      }



      .slick-arrow{
        position:absolute;
        top:calc(50% - 77px);
        height:58px; width:58px;
        border-radius:58px;
        padding:0px;
        outline:none;
        border:none;
        text-indent:100000000px;
        overflow:hidden;
        background:$purple-light url('../src/icons/arrow.svg') center no-repeat;
        @include trans(0.3s);
        @include breakpoint(1024px){
          top:calc(100% - 27px);
          height:38px; width:38px;
          border-radius:38px;
        }
        &:hover{
          opacity:0.7;
          @include trans(0.3s);
        }
      }
      .slick-prev{
        left:-130px;
        @include breakpoint(1024px){left:0px;}
      }
      .slick-next{
        right:-130px;
        transform: scaleX(-1);
        @include breakpoint(1024px){right:0px;}
      }

      .slick-dots{
        padding:0px;
        margin:36px 0px 0px 0px;
        list-style-type:none;
        display:flex;
        justify-content:center;
        @include breakpoint(1024px){margin:100px 0px 0px 0px;}
        li{
          width:8px; height:8px;
          border-radius:8px;
          background-color:$purple-light;
          margin:0px 3px;
          cursor:pointer;
          @include trans(0.3s);
          button{display:none;}
          &:hover{
            opacity:0.7;
            @include trans(0.3s);
          }
        }
        .slick-active{
          width:12px; height:12px;
          border-radius:12px;
          background-color:$green;
          transform:translateY(-2px);
          cursor:default;
          @include trans(0.3s);
          &:hover{
            opacity:1;
          }
        }
      }

    }
 } //end


 //admin display overrides
.wp-admin{
  .testimonial-slider{
    h4{color:$white;}
    #testimonials{
      p{color:$white;}
      .name{color:$white;}

      div{display:none;}
      div:first-of-type{display:block; margin:0px 0px 50px 0px;}
      div:nth-of-type(2){display:block;}
    }
  }
}
/*

TEXT TWO COLUMN LIST BLOCK

*/


 .text-2-col-list{
  max-width:1200px;
  margin:0px auto;
  padding:0px 0px 140px 0px;
  @include breakpoint(925px){padding:0px 0px 90px 0px;}
  h2{
    margin:0px 0px 80px 60px;
    @include breakpoint(1100px){margin:0px 0px 80px 0px;}
    @include breakpoint(600px){margin:0px 0px 40px 0px;}
  }

  ul{
    padding:0px;
    list-style-type: none;
    display:flex;
    flex-wrap:wrap;
    align-items: flex-start;
    justify-content: space-between;
    li{
      width:calc(50% - 180px);
      @include breakpoint(1100px){width:calc(50% - 90px);}
      @include breakpoint(800px){width:calc(50% - 40px);}
      @include breakpoint(600px){width:100%;}
      &:nth-of-type(odd){
        margin:0px 30px 60px 60px;
        @include breakpoint(1100px){margin:0px 60px 60px 0px;}
        @include breakpoint(800px){margin:0px 0px 60px 0px;}
      }
      &:nth-of-type(even){
        margin:0px 60px 60px 30px;
        @include breakpoint(1100px){margin:0px 0px 60px 30px;}
        @include breakpoint(800px){margin:0px 0px 60px 0px;}
      }
      h3{
        margin:0px 0px 15px 0px;
      }
      p{
        color:$gray-dark;
      }

    }
  }
 } //end


 //admin display overrides
.wp-admin{
  .text-2-col-list{
    
  }
}
/*

BLOCK TEXT BUILDER

*/


 .text-builder{
  padding: 0 0 140px;
  @include breakpoint(925px){padding:0px 0px 90px 0px;}
  h2{
    margin:0px 0px 50px 0px;
  }
  h5{
    color:$gray-dark;
    margin:50px 0px 10px 0px;
  }
  p{
    margin:0px 0px 20px 0px;
    color:$black;
  }
  strong{
    font-weight:700;
  }
  a{
    color:$purple-light;
    @include trans(0.2s);
    &:hover{
      color:$green;
      @include trans(0.2s);
    }
  }
  ul{
    margin:15px 0px;
    li{
      color:$gray-dark;
      font:400 16px/24px $open;
      margin:0px;
      @include breakpoint(768px){font:400 14px/22px $open;}
    }
  }

  .btn-green{
    display: inline-block;
    margin:50px 0px 20px 0px;
    @include trans(0.2s);
    &:hover{
      @include trans(0.2s);
      color:$white;
    }
  }

 } //end


 //admin display overrides
.wp-admin{
  .text-with-button{
    
  }
}
/*

BLOCK

*/


 .text-with-button{
    display:flex;
    flex-wrap:wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding:0px 0px 140px 0px;
    @include breakpoint(925px){padding:0px 0px 90px 0px;}
    span{
      display:block;
      width:calc(50% - 180px);
      @include breakpoint(1100px){width:calc(50% - 80px);}
      @include breakpoint(900px){width:100%;}
      &:nth-of-type(odd){
        margin:0px 30px 60px 60px;
        @include breakpoint(1100px){margin:0px 30px 60px 30px;}
        @include breakpoint(900px){margin:0px 0px 60px 0px;}
      }
      &:nth-of-type(even){
        margin:0px 60px 60px 30px;
        @include breakpoint(1100px){margin:0px 20px 60px 20px;}
        @include breakpoint(900px){margin:0px 0px 60px 0px;}
      }
      h3{
        font:200 36px/36px $work;
        margin:0px 0px 24px 0px;
      }
      .btn-green{
        display:inline-block;
        padding:0px 35px;
        margin:24px 0px 0px 0px;
      }
    }

    //for a single col
    .full{
      width:100%;
      display:flex;
      flex-wrap:wrap;
      justify-content: center;
      @include breakpoint(900px){justify-content: flex-start;}
      h3{
        text-align:center; 
        width:100%;
        @include breakpoint(900px){text-align:left;}
      }
      p{
        text-align:center; 
        width:100%;
        @include breakpoint(900px){text-align:left;}
      }
      .btn-green{
        margin:40px auto 0px;
        @include breakpoint(900px){margin:24px 0px 0px 0px;}
      }
    }

 } //end


 //admin display overrides
.wp-admin{
  .text-with-button{
    
  }
}
/*

Three Column CTA

*/


 .three-col-cta{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding:0px 0px 140px 0px;
    @include breakpoint(925px){padding:0px 0px 90px 0px;}
    div{
      width:350px;
      margin:0px 0px 60px 0px;
      @include breakpoint(1400px){width:300px;}
      @include breakpoint(1200px){width:250px;}
      @include breakpoint(1100px){width:350px;}
      @include breakpoint(947px){width:300px;}
      @include breakpoint(813px){width:250px;}
      @include breakpoint(670px){width:100%;}
      img{
        width:100%; height:auto;
        border-radius:$border-rad;
        margin:0px 0px 21px 0px;
      }
      h3{
        font-weight:200;
        margin:0px 0px 11px 0px;
      }
      .copy{
        color:$gray-dark;
      }
      .btn-green-sm{
        margin:20px 0px 0px 0px;
        max-width:250px;
        display:inline-block;
      }
    }

 } //end


 //admin display overrides
.wp-admin{
  .recent-posts{
    
  }
}