/*

EVENTS SINGLE

*/



.single-events{


  .event-header{
    margin:100px 0px 0px 0px;
    padding:100px 0px;
    background-color:$white;
    display:flex;
    flex-wrap:wrap;
    .wrap{
      display:flex;
      flex-wrap:wrap;
      span{
        display:block;
        width:calc(50% - 100px);
        margin:0px 100px 0px 0px;
      }
      img{
        width:50%;
        border-radius: $border-rad;
      }
    }
  }

  .event-dates{
    
  }

  .event-post{
    padding:100px 0px;
  }


}