/*

FOOTER STYLES

*/


footer{
  

  .footer-callout{
    position: relative;
    background-color:$purple;
    padding:75px 0px;
    .wrap{
      display:flex;
      justify-content: center;
      align-items:flex-start;
      flex-wrap:wrap;
      @include breakpoint(1240px){flex-wrap:wrap;}
    }
    div{width:calc(33% - 50px);}
    .chat, 
    .faq{
      display:flex;
      align-items:center;
      justify-content: center;
      margin:0px 50px 0px 0px;
      @include breakpoint(1240px){
        width:calc(50% - 100px);
        margin:0px 50px 100px 50px;
      }
      @include breakpoint(850px){
        flex-wrap:wrap;
        width:100%;
        margin:0px 0px 70px 0px;
      }
      img{
        width:75px;
        margin:0px 40px 0px 0px;
        @include breakpoint(850px){margin:0px 0px 40px 0px;}
      }
      span{
        @include breakpoint(850px){width:100%; margin:0px 0px 40px 0px;}
        h5{
          text-transform: uppercase;
          margin:0px 0px 14px 0px;
          @include breakpoint(850px){
            text-align:center;
            margin:0px 0px 14px 0px;
          }
        }
        p{
          font:400 14px/20px $open;
          color:$white;
          margin:0px 0px 14px 0px;
          @include breakpoint(850px){
            text-align:center;
            max-width:300px;
            margin:0px auto;
          }
        }
        a{
          display:inline-block;
          @include breakpoint(850px){
            margin:25px auto 0px;
            display:block;
            max-width:100px;
          }
        }
      }
      
    }

    .subscribe{
      //using gravity forms
      @include breakpoint(1240px){
        min-width:0px; 
        width:50%;
        margin:0px auto;
      }
      @include breakpoint(850px){width:80%}
      h5{
        text-transform: uppercase;
        margin:0px 0px 14px 0px;
        @include breakpoint(850px){text-align:center;}
      }
      p{
        font:400 14px/20px $open;
        color:$white;
        margin:14px 0px 0px 0px;
        width:calc(100% - 60px);
        @include breakpoint(1240px){ width:calc(100% - 10px)};
        @include breakpoint(850px){text-align:center;}
      }
      //GRAVITY STYLES
      .gform_wrapper{
        width:100%;
        form{
          width:100%;
          display:flex;
          flex-wrap:wrap;
        }
        .gform-body{
          width:calc(100% - 120px);
          .gfield{
            width:100%;
            .ginput_container{
              display:flex;
              width:100%;
              input{
                padding:10px 20px;
                outline:none;
                border:none;
                border-radius: 8px 0px 0px 8px;
                z-index:0;
                width:100%;
              }
            }
          }
        }
        .gform_footer{
          margin:0px;
          padding:0px;
          .gform_button{
            position:relative;
            height:37px;
            margin:0px;
            width:100px;
            z-index:1;
            background-color:$green;
            color:$white;
            border-radius: 0px 8px 8px 0px;
            outline:none;
            border:none;
            font: 700 14px/32px $work;
            cursor:pointer;
            @include trans(0.2s);
            &:hover{
              @include trans(0.2s);
              background-color:rgba($green, 0.7);
            }
          }
        }
      }
      .gform_confirmation_wrapper{
        width:100%;
        .gform_confirmation_message{
          font:300 14px/20px $open;
          color:$white;
          width:100%;
        }
      }
      .gform_validation_errors{display:none;}
      .gfield_validation_message{
        font: 700 14px/32px $work;
        color:#ff2e00;
        width:100%;
        background:transparent;
        border:none;
        padding:0px;
      }
    }
  }

  .footer-nav{
    display:flex;
    justify-content: flex-start;
    padding:100px 0px;
    @include breakpoint(1023px){padding:80px 0px;}
    span{
      display:block;
      margin:0px 50px 0px 0px;
      width:130px;
      @include breakpoint(1023px){display:none;}
      ul{
        list-style-type:none;
        padding:0px;
        @include breakpoint(1023px){
          display:flex;
          flex-wrap:wrap;
          justify-content:space-between;
          .heading{
            width:100%;
            text-align:center;
          }
        }
        @include breakpoint(560px){
          display:block;
          .heading{
            text-align:left;
          }
        }
        li{
          color:$black;
          font:700 14px/20px $work;
          text-transform:uppercase;
          margin:0px 0px 23px 0px;
          @include breakpoint(1023px){width:33%;}
          @include breakpoint(560px){width:100%;}
          a{
            color:$gray-dark;
            font:400 14px/20px $open;
            text-transform: capitalize;
            display:block;
            @include trans(0.2s);
            &:hover{
              @include trans(0.2s);
              color:$green;
            }
            @include breakpoint(1023px){
              width:100%;
              text-align:center;
            }
            @include breakpoint(560px){text-align:left;}
          }
        }
      }
    }
    .contact{
      margin-left: auto;
      width:145px;
      @include breakpoint(1023px){
        display:block;
        width:100%;
        margin:0px auto;
      }
      @include breakpoint(560px){width:80%;}
      li p {
        color:$gray-dark;
        font:400 14px/20px $open;
        strong{
          font:700 16px/20px $work;
          color:$gray-dark;
          margin:0px 5px 0px 0px;
          @include breakpoint(1023px){
            margin:0px;
            display:block;
            width:100%;
            text-align:center;
          }
          @include breakpoint(560px){text-align:left;}
        }
        @include breakpoint(1023px){
          width:100%;
          text-align:center;
        }
        @include breakpoint(560px){text-align:left;}
      }
      .social{
        display:flex;
        justify-content: space-between;
        @include breakpoint(1023px){
          justify-content: center;
          margin:40px 0px 0px 0px;
        }
        @include breakpoint(560px){
          justify-content: space-between;
          max-width:145px;
        }
        li{
          width:24px;
          a img{width:100%;}
          @include trans(0.2s);
          &:hover{
            @include trans(0.2s);
            opacity:0.5;
          }
          @include breakpoint(1023px){margin:0px 10px;}
          @include breakpoint(560px){margin:0px;}
        }
        
      }
    }

    .btn-green-sm{
      max-width:150px;
      @include breakpoint(1023px){margin:20px auto 10px;}
      @include breakpoint(560px){margin:20px 0px 10px;}
    }
  }



  .footer-tag{
    padding:30px 0px;
    background-color:$green;

    //text selection styles
    ::selection {
      background: $purple;
      color:$white;
    }
    ::-moz-selection {
      background: $purple;
      color:$white;
    }


    .wrap{
      display:flex;
      flex-wrap:wrap;
      align-items:center;
      justify-content:center;
      @include breakpoint(1100px){flex-direction: column-reverse;}
    }
    span{
      display:flex;
      width:50%;
      @include breakpoint(1100px){
        width:100%;
        flex-wrap:wrap;
        justify-content: center;
        margin:0px 0px 50px 0px;
      }
      p{
        color:$white;
        line-height:16px;
        @include breakpoint(520px){width:auto; text-align:center;}
        &:after{
          content:"|";
          margin:0px 15px;
          @include breakpoint(520px){content:""; margin:0px 5px;}
        }
      }
      a{
        color:$white;
        @include trans(0.2s);
        @include breakpoint(520px){
          width:100%; 
          text-align:center;
          margin:20px 0px 0px 0px;
        }
        &:hover{
          color:$gray-dark;
          @include trans(0.2s);
        }
      }
    }
    .disclaimer{
      p{
        font:300 12px/18px $open;
        @include breakpoint(520px){width:100%;}
        &:after{
          content:"";
          margin:0px;
        }
      }
    }
  }
}