/*

HEADER AND NAVIGATION STYLES

*/

header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0px 0px 0px 0px;
  //need this higher than the safety exit button
  z-index: 99998;

  .green-callout {
    position: relative;
    top: -28px;
    // left: 0px;
    background-color: $green;
    width: 100%;
    text-align: center;
    height: 28px;
    z-index: 2;
    > div {
      display: flex;
      justify-content: flex-end;
      margin: 0px 89px 0px 0px;
      @include breakpoint(1060px) {
        margin: 0px;
        justify-content: center;
      }
    }
    p {
      color: $white;
      margin: 0px 0px 0px 15px;
      line-height: 28px;
      strong {
        font: 700 14px/16px $work;
        margin: 0px 5px 0px 0px;

        @include breakpoint(768px) {
          font: 16px/16px;
        }
      }
      .mobile-link {
        display: none;
        @include breakpoint(1280px) {
          display: inline-block;
        }
      }
      a {
        font: 500 14px/16px $work;
        color: $white;
        @include trans(0.2s);
        &:hover {
          @include trans(0.2s);
          color: $purple;
        }

        @include breakpoint(768px) {
          font: 16px/16px;
        }
      }
    }
    .btn-callout {
      @include breakpoint(1280px) {
        display: none;
      }
    }
    .search-icon {
      transform: translateY(-2px);

      svg {
        margin: 8px 0px 0px 30px;
        cursor: pointer;
        @include trans(0.2s);
        path {
          fill: $white;
        }
      }
      &:hover {
        opacity: 1;
        svg path {
          fill: $purple;
          @include trans(0.2s);
        }
      }

      @include breakpoint(1280px) {
        display: none;
      }
    }

    @include breakpoint(320px) {
      height: 55px;
    }

    @include breakpoint(1280px) {
      top: 0px;
    }
  }

  .logo {
    position: relative;
    width: 320px;
    margin: 0px 0px 0px 110px;
    @include breakpoint(1470px) {
      margin: 15px 0px 0px 70px;
    }
    @include breakpoint(1277px) {
      margin: 17px 0px 0px 25px;
      width: 250px;
    }
    @include breakpoint(1060px) {
      width: 142px;
      margin: 12px 0px 0px 25px;
    }
    a,
    img {
      position: absolute;
      top: 0px;
      left: 0px;
      display: block;
      width: 100%;
    }
    .color {
      opacity: 1;
      z-index: 1;
      @include trans(0.2s);
    }
    .color-open {
      opacity: 0 !important;
      z-index: 1;
      @include trans(0.2s);
    }
    .white {
      opacity: 1;
      z-index: 2;
      @include trans(0.2s);
    }
    .white-open {
      opacity: 1 !important;
      z-index: 2;
      @include trans(0.2s);
    }
  }

  .navigation {
    margin: 0px 90px 0px 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    @include breakpoint(1277px) {
      margin: 8px 25px 0px 0px;
    }
    .action {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin: 0px 0px 0px 0px;
      @include breakpoint(1060px) {
        display: none;
      }
      p {
        color: $white;
        height: 35px;
        display: flex;
        align-items: center;
        strong {
          font: 700 16px/16px $work;
          margin: 0px 5px 0px 0px;
        }
        a {
          font: 300 16px/16px $work;
          color: $white;
          margin: 0px 20px 0px 0px;
        }
      }
      a {
        margin: 0px 0px 0px 10px;
      }
      .search-icon {
        svg {
          margin: 8px 0px 0px 30px;
          cursor: pointer;
          @include trans(0.2s);
          path {
            fill: $white;
          }
        }
        &:hover {
          opacity: 1;
          svg path {
            fill: $green;
            @include trans(0.2s);
          }
        }
      }
    }

    .nav-desk {
      width: 100%;
      margin: 0px;
      transform: translateX(13px);
      @include breakpoint(1060px) {
        display: none;
      }
      nav {
        display: flex;
        justify-content: flex-end;
        .nav-box {
          position: relative;
          transform: translateY(10px);
          &:hover {
            .top-link {
              color: $green;
              @include trans(0.3s);
              svg {
                //using important to override javascript animations on nav scroll
                transform: rotate(90deg) !important;
                @include trans(0.3s);
                path {
                  fill: $green !important;
                  @include trans(0.3s);
                }
              }
            }
            .nav-drop {
              display: block;
              opacity: 1;
              top: 30px;
              height: auto;
              padding: 10px;
              @include trans(0.3s);
              &:after {
                width: 100%;
                @include trans(0.5s);
              }
              a {
                opacity: 1;
                transform: translateY(0px);
                padding: 10px 0px;
                @include trans(0.3s);
                &:hover {
                  color: $green;
                  @include trans(0.2s);
                }
              }
            }
          }

          .top-link {
            margin: 0 0px 0px 15px;
            padding: 0px 5px 10px 0px;
            display: flex;

            @include trans(0.3s);
            @include breakpoint(1385px) {
              margin: 0 0px 0px 5px;
            }
            @include breakpoint(1120px) {
              margin: 0 0px 0px 4px;
            }
            a {
              color: $white;
              text-transform: uppercase;
              font: 700 14px/14px $work;
              letter-spacing: 1px;
              @include trans(0.3s);
              @include breakpoint(1385px) {
                font: 700 13px/13px $work;
              }
            }
            svg {
              display: block;
              height: 10px;
              width: 10px;
              transform: rotate(0deg) !important;
              margin: 2px 0px 0px 0px;
              cursor: pointer;
              @include trans(0.3s);
              path {
                fill: $green;
                @include trans(0.3s);
              }
            }
          }

          .nav-drop {
            display: block;
            position: absolute;
            top: 30px;
            left: 0px;
            width: 100%;
            height: 0px;
            overflow: hidden;
            background-color: $white;
            padding: 0px 10px;
            border-radius: 0px 0px 8px 8px;
            opacity: 0;
            @include trans(0.3s);
            &:after {
              content: '';
              position: absolute;
              top: 0px;
              left: 0px;
              right: 0px;
              width: 1%;
              height: 2px;
              margin: auto;
              background-color: $green;
            }
            a {
              padding: 0px;
              color: $black;
              width: 100%;
              display: block;
              opacity: 0;
              font: 400 12px/14px $open;
              color: $gray-dark;
              transform: translateY(20px);
              border-bottom: 1px solid $gray;
              @include trans(0.3s);
              &:last-of-type {
                border: none;
              }
            }
          }
        }
        //Hard Coded Donate now Button
        .btn-green-sm {
          margin: 0px 0px 0px 20px;
          @include breakpoint(1277px) {
            margin: 0px 10px 0px 10px;
          }
        }
      }
    }

    //mobile navigation menu
    .nav-mobile {
      display: none;
      transform: translateX(100vw);
      @include trans(0.5s);
      @include breakpoint(1060px) {
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100vw;
        background-color: $purple;
        z-index: 9;
      }
      &-open {
        @extend .nav-mobile;
        transform: translateX(0px);
        @include trans(0.3s);
      }
      .scroll-box {
        position: relative;
        overflow: auto;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      nav {
        margin: 100px 0px 0px 0px;
        width: 100%;
        .nav-accord {
          position: relative;
          display: block;
          width: 100%;
          border-bottom: 1px solid $black;
          &:last-of-type {
            border: none;
          }
          .main {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc(100% - 48px);
            padding: 15px 24px;
            a {
              color: $white;
              display: block;
              font: 700 14px/20px $work;
              text-transform: uppercase;
            }
            span {
              display: block;
              height: 22px;
              width: 22px;
              background: url('../src/icons/arrow-nav.svg') center no-repeat;
              transform: rotate(90deg);
              @include trans(0.3s);
            }
          }
          .subs {
            background-color: $purple-dark;
            width: calc(100% - 48px);
            padding: 0px 24px;
            overflow: hidden;
            @include trans(0.3s);
            a {
              color: $white;
              display: block;
              font: 300 14px/20px $work;
              margin: 0px 0px;
              opacity: 0;
              height: 0px;
              @include trans(0.3s);
            }
          }
        }
        //active/open mobile nav styles
        .nav-accord.active {
          .main {
            span {
              transform: rotate(270deg);
              @include trans(0.3s);
            }
          }
          .subs {
            padding: 5px 24px;
            @include trans(0.3s);
            a {
              margin: 12px 0px;
              opacity: 1;
              height: 24px;
              @include trans(0.3s);
            }
          }
        }
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        margin: 31px auto 30px;
        a {
          margin: 0px 10px;
        }
      }
      .bottom {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        height: 1px;
        span {
          display: block;
          border-top: 1px solid rgba($black, 0.5);
          border-right: 1px solid rgba($black, 0.5);
          width: 33%;
          padding: 22px 0px;
          img,
          svg {
            width: 30px;
            height: 30px;
            display: block;
            margin: 0px auto 16px;
            path {
              fill: $purple-light;
            }
          }
          p {
            color: $white;
            font: 700 10px/10px $work;
            text-align: center;
          }
          &:last-of-type {
            border-right: none;
          }
        }
      }
    }

    //mobile hamburger menu animation
    .ham {
      position: relative;
      display: none;
      cursor: pointer;
      z-index: 99;
      webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      @include breakpoint(1060px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 39px;
        height: 39px;
        border-radius: 39px;
        background-color: $green;
      }
      .lines {
        display: flex;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        @include trans(0.2s);
        span {
          width: 25px;
          height: 1px;
          background-color: $white;
          margin: 2px 0px;
          @include trans(0.3s);
        }
      }
      .center1,
      .center2 {
        position: absolute;
        width: 0px;
        height: 1px;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: $white;
        opacity: 1;
      }
      &-close {
        @extend .ham;
        .lines {
          opacity: 1;
          @include trans(0.2s);
          span {
            opacity: 0;
            margin: 0px;
            @include trans(0.2s);
          }
        }
        .center1 {
          animation: centerGrow1 0.3s ease 0.1s forwards;
        }
        .center2 {
          animation: centerGrow2 0.3s ease 0.1s forwards;
        }
      }
    }
    // hamburger menu animations
    @keyframes centerGrow1 {
      0% {
        width: 0px;
        opacity: 0;
        transform: rotate(0deg);
      }
      70% {
        width: 25px;
        opacity: 1;
        transform: rotate(0deg);
      }
      100% {
        width: 25px;
        transform: rotate(45deg);
        opacity: 1;
      }
    }
    @keyframes centerGrow2 {
      0% {
        width: 0px;
        opacity: 0;
        transform: rotate(0deg);
      }
      70% {
        width: 25px;
        opacity: 1;
        transform: rotate(0deg);
      }
      100% {
        width: 25px;
        transform: rotate(-45deg);
        opacity: 1;
      }
    }
  }

  @include breakpoint(320px) {
    height: 90px;
  }

  @include breakpoint(1060px) {
    height: 60px;
  }
}

//pre compressed header for internal pages
header.compressed {
  height: 110px;
  padding-top: 0px;
  background-color: $white;
  // @include breakpoint(1060px) {
  //   height: 60px;
  // }
  .navigation {
    .search-icon {
      svg path {
        fill: $black;
        @include trans(0.2s);
      }
    }
    .nav-desk {
      margin: -46px 0px 0px 0px;
    }
    nav {
      .nav-box {
        position: relative;
        transform: translateY(10px);
        .top-link {
          a {
            color: $black;
          }
          @include trans(0.3s);
          svg {
            //using important to override javascript animations on nav scroll
            transform: rotate(0deg) !important;
            @include trans(0.3s);
            path {
              fill: $black !important;
              @include trans(0.3s);
            }
          }
        }
        &:hover {
          .top-link {
            color: $green;
            @include trans(0.3s);
            svg {
              //using important to override javascript animations on nav scroll
              transform: rotate(90deg) !important;
              @include trans(0.3s);
              path {
                fill: $green !important;
                @include trans(0.3s);
              }
            }
          }
          .nav-drop {
            top: 37px;
          }
        }
      }
    }
  }
  .logo {
    width: 200px;
    margin-top: 0px;
    @include breakpoint(1470px) {
      margin: 18px 0px 0px 70px;
    }
    @include breakpoint(1440px) {
      margin: 0px 0px 0px 70px;
    }
    @include breakpoint(1339px) {
      margin: 23px 0px 0px 70px;
    }
    @include breakpoint(1230px) {
      margin: 23px 0px 0px 25px;
    }
    @include breakpoint(1060px) {
      width: 142px;
      margin: 12px 0px 0px 25px;
    }
    .white {
      opacity: 0;
    }
  }
  .action {
    opacity: 0;
    transform: translateY(-55px);
  }
  .green-callout {
    top: 0px;
  }
}
