/*

NEWS PAGE AND SINGLE

*/

.page-news{

  .news-stories{
    padding:0px 0px 100px 0px;
    @include breakpoint(925px){padding:0px 0px 50px 0px;}
    article{
      display:flex;
      flex-wrap:wrap;
      margin:0px 0px 150px 0px;
      @include breakpoint(768px){margin:0px 0px 50px 0px;}
      span{
        display:block;
        width:calc(100% - 530px);
        margin:0px 130px 0px 0px;
        @include breakpoint(1175px){
          width:calc(100% - 450px);
          margin:0px 50px 0px 0px;
        }
        @include breakpoint(928px){width:calc(100% - 350px);}
        @include breakpoint(768px){width:100%; margin:0px 0px 20px 0px;}
        &:last-of-type{
          width:400px;
          margin:0px;
          @include breakpoint(928px){width:300px;}
          @include breakpoint(768px){width:100%; margin:0px 0px 20px 0px;}
        }
        img{
          border-radius:$border-rad;
          width:100%;
        }

        h2{
          font:200 36px/42px $work;
          color:$purple;
          margin:0px 0px 30px 0px;
          @include breakpoint(1175px){
            margin:0px 0px 15px 0px;
          }
          @include breakpoint(800px){
            font:200 30px/34px $work;
          }
        }
        a{
          color:$purple;
        }

        .info{
          margin:0px 0px 30px 0px;
          @include breakpoint(1175px){
            margin:0px 0px 15px 0px;
          }
        }
        .snippet{
          margin:0px 0px 30px 0px;
          @include breakpoint(1175px){
            margin:0px 0px 15px 0px;
          }
        }
        .btn-purple-sm{
          color:$white;
          max-width:150px;
          svg{
            transform: translate(16px, 4px);
          }
        }
      }
    }
    .load-more{
      max-width:300px;
      margin:0px auto;
    }
    .no-more-posts{
      color:$black;
      text-align:center;
    }
  }

}



.single-post, .single-events{
  .news-single{
    .news-header{
      padding:180px 0px 50px 0px;
      display:flex;
      flex-wrap:wrap;
      align-items:center;
      justify-content: center;
      @include breakpoint(1100px){padding:130px 0px 0px 0px;}
      span{
        display:block;
        width:calc(100% - 530px);
        margin:0px 130px 0px 0px;
        @include breakpoint(1175px){
          width:calc(100% - 450px);
          margin:0px 50px 0px 0px;
        }
        @include breakpoint(928px){width:calc(100% - 350px);}
        @include breakpoint(768px){width:100%; margin:0px 0px 20px 0px;}
        &:last-of-type{
          width:400px;
          margin:0px;
          @include breakpoint(928px){width:300px;}
          @include breakpoint(768px){width:100%; margin:0px 0px 20px 0px;}
        }
        img{
          border-radius:$border-rad;
          width:100%;
        }

        h2{
          font:200 36px/42px $work;
          color:$purple;
          margin:0px 0px 30px 0px;
          @include breakpoint(1175px){
            margin:0px 0px 15px 0px;
          }
          @include breakpoint(800px){
            font:200 30px/34px $work;
          }
        }
        .info{
          margin:0px 0px 30px 0px;
          @include breakpoint(1175px){
            margin:0px 0px 15px 0px;
          }
        }
        .snippet{
          margin:0px 0px 30px 0px;
          @include breakpoint(1175px){
            margin:0px 0px 15px 0px;
          }
        }
      }
    }
    .news-story{
      padding:80px 0px 80px 0px;
      @include breakpoint(768px){padding:0px 0px 80px 0px;}
      .iframe{
        margin:50px auto 0px;
        display:flex;
        align-items:center;
        justify-content: center;
      }

      .text-builder{
        @include breakpoint(768px){margin:50px 0px 0px 0px;}
        ul{
          margin:30px 0px;
        }
      }
    }
  }
}





 //admin display overrides
 .wp-admin{
  .news-stories{
    padding:100px 0px;
  }
}