/*

SEARCH OVERLAY AND SEARCH PAGE

*/



// the search pop over from the main header
.search-pop{
  position:fixed;
  height:0px; width:100vw;
  overflow:hidden;
  z-index:99999999;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  div{
    width:100%;
    height:0px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    overflow:hidden;
    @include trans(0.5s);
    &:first-of-type{
      background-color:$gray-dark;
      position:absolute;
      top:0px;
    }
    &:last-of-type{
      background-color:$green;
      position:absolute;
      bottom:0px;
    }
    span{
      display:block;
      width:80%; max-width:900px;
    }
  }
  .top{
    span{
      transform:translateY(-80px); 
      opacity:0;
    }
    input{
      display:block;
      border:none;
      border-bottom:2px solid $white;
      color:$white;
      background-color:$gray-dark;
      width:100%;
      padding:20px 0px 0px 0px;
      height:100px;
      outline:none;
      font: 700 74px/74px $open;
      @include breakpoint(700px){
        height:60px;
        font: 700 38px/38px $open;
      }
      @include breakpoint(400px){
        height:50px;
        font: 700 24px/24px $open;
      }
    }
    p{
      color:$white;
      text-align:right;
      margin:5px 0px 0px 0px;
    }
  }
  .bottom{
    span{
      transform:translateY(80px); 
      opacity:0;
    }
    h6{
      color:$white;
      width:100%;
      margin:0px 0px 15px 0px;
    }
    a{
      width:100%;
      color:$white;
      text-align:left;
      margin:0px 15px 0px 0px;
      font:400 14px/14px $open;
      &:hover{
        opacity:0.5;
      }
    }
  }

  svg{
    position:absolute;
    top:20px; right:20px;
    width:44px; height:44px;
    @include trans(0.2s);
    cursor:pointer;
    opacity:0;
    transform:translateY(-80px);
    &:hover{
      opacity:0.5;
      @include trans(0.2s);
    }
  }

  //text selection styles
  ::selection {
    background: $gray;
    color:$white;
  }
  ::-moz-selection {
    background: $gray;
    color:$white;
  }

  //open version of the search menu
  &-open{
    @extend .search-pop;
    height:100vh;
    div{
      @include trans(0.5s);
      animation: searchOpen 0.3s ease 0.1s forwards;
    }
    .top span{
      animation: searchOpenTop 0.5s ease 0.3s forwards;
    }
    .bottom span{
      animation: searchOpenBottom 0.5s ease 0.3s forwards;
    }
    svg{
      animation: searchOpenTop 0.5s ease 0.3s forwards;
    }
  }
  &-close{
    @extend .search-pop;
    height:100vh;
    animation: searchCloseWrap 0s ease 0.5s forwards;
    div{
      height:50%;
      @include trans(0.5s);
      animation: searchClose 0.5s ease 0.1s forwards;
    }
    .top span{
      animation: searchCloseTop 0.5s ease 0s forwards;
    }
    .bottom span{
      animation: searchCloseBottom 0.5s ease 0s forwards;
    }
    svg{
      animation: searchCloseTop 0.5s ease 0s forwards;
    }
  }
}

// search popover css animations
//open
@keyframes searchOpenWrap {
  0% {height:0px;}
  100%{height:100vh;}
}
@keyframes searchOpen {
  0% {height:0px;}
  100%{height:50%;}
}
@keyframes searchOpenTop {
  0% {transform:translateY(-80px); opacity:0;}
  100%{transform:translateY(0px); opacity:1;}
}
@keyframes searchOpenBottom {
  0% {transform:translateY(80px); opacity:0;}
  100%{transform:translateY(0px); opacity:1;}
}

//close
@keyframes searchCloseWrap {
  0% {height:100vh;}
  100%{height:0px;}
}
@keyframes searchClose {
  0% {height:50%;}
  100%{height:0px;}
}
@keyframes searchCloseTop {
  0% {transform:translateY(0px); opacity:1;}
  100%{transform:translateY(-80px); opacity:0;}
}
@keyframes searchCloseBottom {
  0% {transform:translateY(0px); opacity:1;}
  100%{transform:translateY(80px); opacity:0;}
}




// the search results page
.search-result-page{


  .search-bar{
    background-color:$purple;
    padding:80px 0px 100px 0px;
    margin:54px 0px 0px 0px;
    input{
      display:block;
      border:none;
      border-bottom:2px solid $white;
      color:$white;
      background-color:$purple;
      width:100%;
      padding:20px 0px 20px 0px;
      height:50px;
      outline:none;
      font: 700 74px/74px $open;
      @include breakpoint(700px){
        height:60px;
        font: 700 38px/38px $open;
      }
      @include breakpoint(400px){
        height:50px;
        font: 700 24px/24px $open;
      }
    }
    p{
      color:$white;
      text-align:right;
      margin:5px 0px 0px 0px;
    }
    @include placeholder{
      color:#9a9a9a;
    }
  }


  .search-header{
    padding:80px 0px 100px 0px;
    background-color:$white;
    h2{
      color:$black;
    }
  }


  .search-results{
    padding:0px 0px 100px 0px;
    article{
      border-top:1px solid $gray;
      padding:33px 0px;
      display:flex;
      align-items: center;
      @include breakpoint(835px){flex-wrap:wrap;}
      span{
        flex-wrap:wrap;
        height:auto;
        &:first-of-type{
          width:280px;
          display:flex;
          @include breakpoint(835px){
            width:100%;
            margin:0px 0px 20px 0px;
          }
          h5{
            color:$black;
            text-transform:uppercase;
            width:100%; height:16px;
            margin:0px 0px 16px 0px;
            display:block;
          }
          .date{
            font:300 12px/12px $open;
            width:100%; 
            margin:0px;
            display:block;
          }
        }
        &:last-of-type{
          display:block;
          width:calc(100% - 280px);
          @include breakpoint(835px){width:100%;}
          h3{
            color:$black;
            width:100%;
            margin:0px 0px 10px 0px;
            font:200 36px/42px $open;
            @include breakpoint(835px){font:200 30px/38px $work;}
          }
          .snippet{
            width:90%;
            margin:0px 0px 20px 0px;
          }
          .link{
            
          }
        }
      }
      &:last-of-type{
        border-bottom: 1px solid $gray;
      }
    }
  }

  
}