/*

SASS VARIABLES, MIXINS AND FUNCTIONS

*/


$rem-base: 10px !default;
$border-rad: 8px;

// COLORS -----------------------
$black: #141414;
$white: #ffffff;
$green: #9BC76E;
$purple: #572179;
$purple-light: #795995;
$purple-dark: #38214b;
$gray: #cfcfcf;
$gray-dark: #616161;


// FONTS -----------------------
$open: 'Open Sans', sans-serif;
$work: 'Work Sans', sans-serif;



// MIXINS -----------------------
@mixin breakpoint($size) { 
 @media screen and (max-width: $size) { @content; } 
}

@mixin breakpoint-min($size) {
  @media screen and (min-width: $size) { @content; } 
}

@mixin breakpoint-vert($size) {
  @media screen and (max-height: $size) { @content; } 
}

@mixin trans($sec){
  -webkit-transition: all ($sec) ease-in-out;
  -moz-transition: all ($sec) ease-in-out;
  -o-transition: all ($sec) ease-in-out;
  transition: all ($sec) ease-in-out;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@mixin gradient($color1, $color2){
  background: $color1;
  background: -moz-linear-gradient(-45deg, $color1 0%, $color2 100%);
  background: -webkit-linear-gradient(-45deg, $color1 0%,$color2 100%);
  background: linear-gradient(160deg, $color1 0%,$color2 100%);
}


// FUNCTIONS -----------------------
// It strips the unit of measure and returns it
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// Converts px to rem
@function calculateRem($size) {
  $remSize: $size / $rem-base;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}