/******************************************************************
Stylesheet: Login Stylesheet

This stylesheet is loaded (if admin.php is setup in your
functions file) on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/
body.login {
  background-color: #ffffff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
}

/* the form box */
/*
This is the Wordpress logo in the admin area.
You'll have to load your own images and mess
with the width and height.
*/
.login h1 a {
  background: url('/wp-content/themes/safenest/src/img/logo-color.svg') no-repeat top center;
  margin:100px auto 50px;
  width: 250px;
  height: 50px;
  text-indent: -9999px;
  overflow: hidden;
  padding-bottom: 15px;
  display: block; 
  background-size:contain;
}

.login #backtoblog a, #nav a{
  color:#141414 !important;
}
.login #backtoblog a:hover, 
.login #nav a:hover{
  color:#572179 !important;
}

.login form {
  margin: 0px;
  padding:25px;
  border-radius: 8px;
  font-weight: normal;
  background: #9BC76E;
  border: 1px solid #9BC76E;
  box-shadow: none; 
}

body form .input {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  width: 97%;
  padding: 20px 22px;
  margin: 2px 6px 16px 0px;
  background: #ffffff !important;
  outline: none;
  border: 1px solid #dadada;
  height: 43px;
  color:#141414;
}


.input:focus{
  outline:none;
  border: 1px solid #dadada !important;
  box-shadow: none !important;
  background: #eeeeee !important;
  color:#141414;
}

.login .message {
  border-left: 5px solid #9BC76E;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  box-shadow: none;
}

form label{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
  font-style: normal;
  font-weight: 700;
  color:#ffffff;
}

/*
You'll have to override some of the default styles
but since we're referencing the id, it should be easy.
*/
.login #wp-submit {
  background: #572179;
  border-color: #572179;
  color:#ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer; 
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
  text-transform: uppercase;
  font-weight:700px;
  border-radius: 8px;
  text-shadow: none;
  padding: 0px 40px 0px 40px;
}