/*

BLOCK

*/


 .recent-posts{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding:0px 0px 140px 0px;
    @include breakpoint(925px){padding:0px 0px 90px 0px;}
    article{
      width:350px;
      @include breakpoint(1400px){width:300px;}
      @include breakpoint(1200px){width:250px;}
      @include breakpoint(1100px){width:350px;}
      @include breakpoint(947px){width:300px;}
      @include breakpoint(813px){width:250px;}
      @include breakpoint(670px){width:100%;}
      img{
        width:100%; height:auto;
        border-radius:$border-rad;
        margin:0px 0px 21px 0px;
      }
      .date{
        font:300 12px/12px $work;
        text-transform: uppercase;
        margin:0px 0px 18px 0px;
      }
      h3{
        font-weight:200;
        margin:0px 0px 11px 0px;
      }
      .snippet{
        color:$gray-dark;
      }
      &:last-of-type{
        @include breakpoint(1100px){display:none;}
      }
      &:nth-of-type(2){
        @include breakpoint(670px){display:none;}
      }
    }

 } //end


 //admin display overrides
.wp-admin{
  .recent-posts{
    
  }
}