/*

BLOCK

*/


 .number-callout{
    position:relative;
    width:100%;
    margin:0px 0px 140px 0px;
    background-color:$purple;
    padding:100px 0px;
    @include breakpoint(925px){margin:0px 0px 90px 0px;}
    @include breakpoint(600px){padding:50px 0px;}

    //text selection styles
    ::selection {
      background: $green;
      color:$white;
    }
    ::-moz-selection {
      background: $green;
      color:$white;
    }

    div{
      display:flex;
      justify-content: center;
      align-items:flex-start;
      @include breakpoint(1100px){
        flex-wrap:wrap;
      }
      span{
        display:block;
        //margin:0px 50px 0px 50px;
        @include breakpoint(1100px){
          width:calc(50% - 100px);
          margin:50px 50px 50px 50px;
        }
        @include breakpoint(763px){
          width:100%;
          margin:50px 0px 50px 0px;
        }
        .figure{
          color:$white;
          font:700 60px/60px $work;
          margin:0px 50px 27px 50px;
          text-align:center;
          @include breakpoint(1100px){margin:0px 0px 27px 0px;}
        }
        .caption{
          color:$white;
          font:700 18px/28px $open;
          text-align:center;
          margin:0px 50px 0px 50px;
          @include breakpoint(1100px){margin:0px 0px 0px 0px;}
        }
      }
    }
 } //end


 //admin display overrides
.wp-admin{
  .number-callout{
    
  }
}