/*

BLOCK

*/


 .divider-text-callout,
 .divider-text-callout-{
    background-color:$purple;
    padding:73px 0px;
    margin:0px 0px 140px 0px;
    @include breakpoint(925px){margin:0px 0px 90px 0px;}

    //text selection styles
    ::selection {
      background: $purple;
      color:$white;
    }
    ::-moz-selection {
      background: $purple;
      color:$white;
    }

    .wrap{
      display:flex;
      align-items:center;
      flex-wrap:wrap;
      @include breakpoint(1024px){justify-content:center;}
      span{
        display:block;
        @include breakpoint(1024px){
          display:flex;
          align-items:center;
          justify-content:center;
          flex-wrap:wrap;
          @include breakpoint(900px){justify-content:flex-start;}
        }
        h2{
          color:$white;
          width:80%;
          margin:0px 0px 27px 0px;
        }
        p{
          color:$white;
          width:80%;
        }
        .btn-green{
          display:inline-block;
          padding:0px 50px;
        }
        &:first-of-type{
          width:70%;
          @include breakpoint(1024px){width:60%;}
          @include breakpoint(900px){width:100%;}
        }
        &:last-of-type{
          width:30%;
          @include breakpoint(1024px){width:40%;}
          @include breakpoint(900px){width:100%; margin:50px 0px 0px 0px;}
        }
      }
    }
    &-purple{
      @extend .divider-text-callout;
    }
    &-white{
      @extend .divider-text-callout;
      background-color:white;
      .wrap{
        span{
          h2{
            color:$black;
          }
          p{
            color:$black;
          }
        }
      }
    }
 } //end




 //admin display overrides
.wp-admin{
  .divider-text-callout{
    
  }
}