/*

BLOCK LEADERSHIP LIST

*/


 .leadership-list{
  padding: 0 0 140px;
  @include breakpoint(925px){padding:0px 0px 90px 0px;}
  h2{
    margin:0px 0px 50px 0px;
  }
  ul{
    margin:15px 0px;
    padding:0px;
    list-style-type:none;
    display:flex;
    flex-wrap:wrap;
    li{
      width:calc(33% - 50px);
      color:$gray-dark;
      margin:0px 50px 50px 0px;
      @include breakpoint(768px){
        width:calc(50% - 25px);
      }
      @include breakpoint(500px){
        width:100%;
        margin:0px 0px 50px 0px;
      }
      &:nth-of-type(even){
        @include breakpoint(768px){
          margin:0px 0px 50px 0px;
          width:calc(50% - 25px);
        }
      }
      .profile{
        width:150px; height:170px;
        border-radius: $border-rad;
        margin:0px 0px 15px 0px;
        //display:none;
        img{
          opacity:0;
        }
      }
      h4{
        color:$gray-dark;
        margin:0px 0px 5px 0px;
      }
      p{
        margin:0px 0px -5px 0px;
        @include breakpoint(768px){
          margin:0px 0px 5px 0px;
          font:400 14px/14px $open;
        }
      }
    }
  }

 } //end


 //admin display overrides
.wp-admin{
  .text-with-button{
    
  }
}