/*

HUBSPOT FORM BLOCK

*/


 .gravity-form{
  max-width:1200px;
  margin:0px auto;
  padding:0px 0px 140px 0px;
  @include breakpoint(925px){padding:0px 0px 90px 0px;}
  h2{
    margin:0px 0px 40px 0px;
    width:100%;
  }
  p{
    width:100%;
    margin:0px 0px 30px 0px;
  }
  //GRAVITY STYLES
  .gform_wrapper{
    width:100%;
    form{
      width:100%;
    }
    .gform-body{
      width:calc(100% - 120px);
      .gfield{
        width:100%;
        .ginput_container{
          display:flex;
          width:100%;
          input, textarea{
            padding:10px 20px;
            outline:none;
            border: 1px solid $gray-dark;
            border-radius: 8px;
            z-index:0;
            width:100%;
            font:300 14px/20px $open;
          }
        }
      }
      .gfield_label{
        font:300 14px/20px $open;
      }
    }
    .gform_footer{
      margin:0px;
      padding:0px;
      .gform_button{
        position:relative;
        height:37px;
        margin:0px;
        width:100px;
        z-index:1;
        background-color:$green;
        color:$white;
        border-radius:8px;
        outline:none;
        border:none;
        font: 700 14px/32px $work;
        cursor:pointer;
        @include trans(0.2s);
        &:hover{
          @include trans(0.2s);
          background-color:rgba($green, 0.7);
        }
      }
    }
  }
  .gform_confirmation_wrapper{
    width:100%;
    .gform_confirmation_message{
      font:300 14px/20px $open;
      color:$white;
      width:100%;
    }
  }
  .gform_validation_errors{display:none;}
  .gfield_validation_message{
    font: 700 14px/32px $work;
    color:#ff2e00;
    width:100%;
    background:transparent;
    border:none;
    padding:0px;
  }
 } //end


 //admin display overrides
.wp-admin{
  .gravity-form{
    
  }
}