/*

IMAGE STACK BLOCK

*/


 .image-stack{

  ul{
    padding:0px;
    list-style-type: none;
    li{
      display:flex;
      flex-wrap:wrap;
      align-items:center;
      margin:0px 0px 175px;
      @include breakpoint(800px){margin:0px 0px 125px;}
      img{
        width:50%;
        border-radius:$border-rad;
        @include breakpoint(800px){
          width:100%;
          margin:0px 0px 44px 0px;
        }
      }
      span{
        display:block;
        width:calc(50% - 150px);
        margin:0px 0px 0px 150px;
        @include breakpoint(1100px){
          width:calc(50% - 75px);
          margin:0px 0px 0px 75px;
        }
        @include breakpoint(800px){
          width:100%;
          margin:0px 0px 0px 0px;
        }
        h2{
          margin:0px 0px 50px 0px;
          width:90%;
        }
        p{
          margin:0px 0px 60px 0px;
          width:100%;
        }
      }
    }
  }

  .stack-staggered{
    li:nth-of-type(even){
      flex-direction: row-reverse;
      span{
        margin:0px 150px 0px 0px;
        @include breakpoint(1100px){
          width:calc(50% - 75px);
          margin:0px 75px 0px 0px;
        }
        @include breakpoint(800px){
          width:100%;
          margin:0px 0px 0px 0px;
        }
        p{
          margin:0px 0px 60px 0px;
        }
      }
    }
  }

  .stack-right{
    li{
      flex-direction: row-reverse;
      span{
        margin:0px 150px 0px 0px;
        @include breakpoint(1100px){
          width:calc(50% - 75px);
          margin:0px 75px 0px 0px;
        }
        @include breakpoint(800px){
          width:100%;
          margin:0px 0px 0px 0px;
        }
        p{
          margin:0px 0px 60px 0px;
        }
      }
    }
  }


 } //end


 //admin display overrides
.wp-admin{
  .image-stack{
    
  }
}