/*

TEXT TWO COLUMN LIST BLOCK

*/


 .text-2-col-list{
  max-width:1200px;
  margin:0px auto;
  padding:0px 0px 140px 0px;
  @include breakpoint(925px){padding:0px 0px 90px 0px;}
  h2{
    margin:0px 0px 80px 60px;
    @include breakpoint(1100px){margin:0px 0px 80px 0px;}
    @include breakpoint(600px){margin:0px 0px 40px 0px;}
  }

  ul{
    padding:0px;
    list-style-type: none;
    display:flex;
    flex-wrap:wrap;
    align-items: flex-start;
    justify-content: space-between;
    li{
      width:calc(50% - 180px);
      @include breakpoint(1100px){width:calc(50% - 90px);}
      @include breakpoint(800px){width:calc(50% - 40px);}
      @include breakpoint(600px){width:100%;}
      &:nth-of-type(odd){
        margin:0px 30px 60px 60px;
        @include breakpoint(1100px){margin:0px 60px 60px 0px;}
        @include breakpoint(800px){margin:0px 0px 60px 0px;}
      }
      &:nth-of-type(even){
        margin:0px 60px 60px 30px;
        @include breakpoint(1100px){margin:0px 0px 60px 30px;}
        @include breakpoint(800px){margin:0px 0px 60px 0px;}
      }
      h3{
        margin:0px 0px 15px 0px;
      }
      p{
        color:$gray-dark;
      }

    }
  }
 } //end


 //admin display overrides
.wp-admin{
  .text-2-col-list{
    
  }
}