/*

BLOCK

*/


 .divider-contact{
    background-color:$green;
    border-radius:$border-rad;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:50px 60px;
    margin:0px auto 140px !important;
    @include breakpoint(925px){
      margin:0px auto 90px !important;
      flex-wrap:wrap;
    }
    @include breakpoint(750px){
      transform:translateX(-33px); 
      padding:50px 80px;
    }

    //text selection styles
    ::selection {
      background: $purple;
      color:$white;
    }
    ::-moz-selection {
      background: $purple;
      color:$white;
    }


    span{
      display:block;
      padding:0px 100px 0px 0px;
      @include breakpoint(1024px){padding:0px 50px 0px 0px;}
      @include breakpoint(925px){
        width:calc(100% - 50px);
        margin:0px 0px 20px 0px;
        padding:0px 50px 0px 0px;
      }
      h4{
        font:200 36px/36px $work;
        color:$white;
        @include breakpoint(925px){margin:0px 0px 50px 0px;}
      }
      ul{
        padding:0px;
        list-style-type: none;
        li{
          p{
            color:$white;
            strong{
              font-weight:700;
            }
            a{
              color:$white;
              @include trans(0.2s);
              &:hover{
                @include trans(0.2s);
                color:$purple-light;
              }
            }
          }
        }
      }
    }
 } //end


 //admin display overrides
.wp-admin{
  .divider-contact{
    
  }
}