/*

HUBSPOT FORM BLOCK

*/


 .hubspot{
  max-width:1200px;
  margin:0px auto;
  padding:0px 0px 140px 0px;
  @include breakpoint(925px){padding:0px 0px 90px 0px;}
  h2{
    margin:0px 0px 40px 0px;
    width:100%;
  }
  p{
    width:100%;
    margin:0px 0px 30px 0px;
  }
 } //end


 //admin display overrides
.wp-admin{
  .text-2-col-list{
    
  }
}