/*

FOOTER CALLOUT BLOCK

*/


 .footer-callout{
  padding:0px 0px 140px 0px;
  @include breakpoint(925px){padding:0px 0px 90px 0px;}
  ul{
    padding:0px;
    margin:0px 0px 10px 0px;
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
    @include breakpoint(1150px){
      flex-wrap:wrap;
      margin:0px 0px 10px 0px;
    }
    li{
      position: relative;
      height:390px;
      width:auto;
      flex: 1;
      margin:0px 10px 0px 0px;
      @include trans(0.3s);
      &:last-of-type{margin:0px 0px 0px 0px;}
      @include breakpoint(1150px){
        width:100%; height:200px;
        flex-basis:100%;
        margin:0px 0px 10px 0px;
      }
      &:hover{
        @include trans(0.3s);
        background-blend-mode: normal !important;
      }
      .cover{
        position:absolute;
        top:0; bottom:0px;
        width:100%; height:100%;
        background: $green;
        background: linear-gradient(45deg, $green 0%, $green 20%, rgba(9,9,121,0) 100%);
        opacity:0.7;
        @include trans(0.3s);
      }
      h3{
        display:block;
        position:absolute;
        bottom:50px; left:60px;
        width:calc(100% - 100px);
        color:$white;
        font:700 36px/38px $work;
        text-shadow: 2px 2px 10px #2b41158a;
        @include breakpoint(1400px){
          left:30px;
          width:calc(100% - 60px);
        }
      }
    }
  }
 } //end


 //admin display overrides
.wp-admin{
  .footer-callout{
    
  }
}