/*

BLOCK EVENTS LIST

*/


 .events-list{
  padding: 0 0 140px;
  @include breakpoint(925px){padding:0px 0px 90px 0px;}
  @include breakpoint(800px){padding:0px 0px 40px 0px;}
  h2{
    text-align:center;
  }
  .headline-copy{
    margin: 28px auto;
    width: 80%;
    max-width: 655px;
    text-align: center;
  }

  .btn-purple{
    max-width:250px;
    margin:90px auto 0px;
    @include breakpoint(800px){
      margin:45px auto 0px; 
      max-width:150px;
    }
  }

  //all events block  
  .all-events{
    display:flex;
    flex-wrap:wrap;
    margin:45px auto 0px;
    article{
      position:relative;
      width:calc(33.333% - 60px);
      background-color:$purple;
      padding:30px 0px 90px 0px;
      margin:20px 30px;
      border-radius:$border-rad;
      display:flex;
      flex-wrap: wrap;
      align-content: space-between;
      @include breakpoint(1300px){
        margin:15px 15px;
        width:calc(33.333% - 90px);
      }
      @include breakpoint(1200px){
        margin:15px 15px;
        width:calc(50% - 90px);
      }
      @include breakpoint(800px){
        margin:15px 15px;
        width:calc(100% - 60px);
      }
      .top{
        display:block;
        .date{
          text-align:right;
          color:$white;
          font-size:11px;
          text-transform: uppercase;
          width:calc(100% - 60px);
          margin:0px 0px 15px 0px;
          padding:0px 30px 0px 30px;
        }
        h4{
          color:$white;
          margin:0px 0px 35px 0px;
          padding:0px 30px 0px 30px;
          width:calc(100% - 60px);
        }
        p{
          color:$white;
          margin:0px 0px 25px 0px;
          padding:0px 30px 0px 30px;
          width:calc(100% - 60px);
        }
        .image{
          width:100%; height:177px;
          margin:0px 0px 30px 0px;
          display:none;
        }
      }
      .link{
        position:absolute;
        right:60px; bottom:45px;
        color:$white;
        &:after{
          top:0px;
          background:url('../src/icons/arrow-link.svg') center no-repeat;
        }
      }
    }
  }

  // featured events block
  .featured-events{
    display:flex;
    flex-wrap:wrap;
    margin:45px auto 0px;
    article{
      position:relative;
      width:calc(33.333% - 120px);
      background-color:$green;
      padding:30px 30px 90px 30px;
      margin:20px 30px;
      border-radius:$border-rad;
      display:flex;
      flex-wrap: wrap;
      align-content: space-between;
      @include breakpoint(1300px){
        margin:15px 15px;
        width:calc(33.333% - 90px);
      }
      @include breakpoint(1024px){
        margin:15px 0px;
        width:calc(100% - 60px);
      }
      .top{
        display:block;
        .date{
          text-align:right;
          color:$white;
          font-size:11px;
          text-transform: uppercase;
          width:100%;
          margin:0px 0px 30px 0px;
        }
        h4{
          color:$white;
          margin:0px 0px 35px 0px;
          width:100%;
        }
        p{
          color:$white;
          margin:0px 0px 25px 0px;
          width:100%;
        }
        .image{
          width:100%; height:177px;
          margin:0px 0px 30px 0px;
          border-radius: $border-rad;
          display:none;
        }
      }
      .link{
        position:absolute;
        right:60px; bottom:45px;
        color:$white;
        &:after{
          top:0px;
          background:url('../src/icons/arrow-link-purple.svg') center no-repeat;
        }
      }
    }
  }



 }


 

 //admin display overrides
.wp-admin{
  .text-with-button{
    
  }
}