/*

IMAGE WITH TEXT CALLOUT BLOCK

*/


 .image-text-callout{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    padding:0px 0px 140px 0px;
    @include breakpoint(925px){
      width: 100%;
      flex-direction: column-reverse;
      padding:0px 0px 90px 0px;
    }

    .image-side{
      position:relative;
      //these styles are driven by inline so that we can sub out the background image via wordpress
      width:50%; //min-height:800px;
      border-radius:$border-rad;
      @include breakpoint(925px){width: 100%;}
      .cover{
        display:none;
        width:100%; height:100%;
        background: $green;
        background: linear-gradient(90deg, $green 0%, rgba(9,9,121,0) 21%, rgba(9,9,121,0) 35%, $green 100%);
      }
  
      .text{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
        padding:70px;
        @include breakpoint(557px){padding:50px 20px;}
        h3{
          color:$white;
          margin:30px 0px 62px 0px;
          text-transform:uppercase;
          width:100%;
        }
        span{
          width:100%;
          display:block;
          margin:30px 0px 30px 0px;
          p{
            color:$white;
          }
          p:first-of-type{
            font:700 16px/20px $open;
            margin:0px 0px 12px 0px;
          }
          p:last-of-type{
            font:700 44px/48px $work;
          }
        }
      }
    }


    .text-side{
      width:calc(50% - 80px);
      margin:0px 0px 0px 80px;
      color:$gray-dark;
      font:300 16px/28px $open;
      @include breakpoint(800px){font:300 14px/24px $open;}
      @include breakpoint(1100px){
        margin:0px 0px 0px 80px;
        width:calc(50% - 80px);
      }
      @include breakpoint(925px){
        width: 100%;
        margin:0px 0px 80px 0px;
      }
      h2{
        color:$black;
        margin:0px 0px 50px 0px;
        width:90%;
        @include breakpoint(925px){width:100%}
      }
      p{
        color:$black;
        margin:0px 0px 60px 0px;
        width:95%;
        @include breakpoint(925px){width:100%}
      }
    }

 } //end


 //admin display overrides
.wp-admin{
  .image-text-callout{
    
  }
}