/*

BLOCK LOCATION LIST

*/


 .location-list{
  padding: 0 0 140px;
  @include breakpoint(925px){padding:0px 0px 90px 0px;}
  h2{
    margin:0px 0px 40px 0px;
    color:$black;
    text-align:center;
  }
  p{
    color:$gray-dark;
    text-align:center;
    max-width:569px; 
    margin:0px auto 0px;
  }

  .locations-grid{
    display:flex;
    flex-wrap:wrap;
    transform:translateX(-15px);
    margin:80px 0px 0px 0px;
    @include breakpoint(1100px){transform:translateX(0px);}
    .block{
      width:calc(33.333% - 115px);
      margin: 0px 15px 30px 15px;
      padding:30px 40px;
      border:1px solid $gray;
      border-radius: $border-rad;
      @include breakpoint(1100px){
        width:calc(50% - 115px);
      }
      @include breakpoint(680px){
        width:100%;
        margin: 0px 0px 30px 0px;
      }
      h4{
        margin:0px 0px 20px 0px;
      }
      .phone{
        margin:0px 0px 15px 0px;
        text-align:left;
      }
      .address{
        margin:0px 0px 25px 0px;
        text-align:left;
        line-height:18px;
      }
    }
  }

 } //end


 //admin display overrides
.wp-admin{
  .location-list{
    
  }
}