/*

BLOCK

*/


 .text-with-button{
    display:flex;
    flex-wrap:wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding:0px 0px 140px 0px;
    @include breakpoint(925px){padding:0px 0px 90px 0px;}
    span{
      display:block;
      width:calc(50% - 180px);
      @include breakpoint(1100px){width:calc(50% - 80px);}
      @include breakpoint(900px){width:100%;}
      &:nth-of-type(odd){
        margin:0px 30px 60px 60px;
        @include breakpoint(1100px){margin:0px 30px 60px 30px;}
        @include breakpoint(900px){margin:0px 0px 60px 0px;}
      }
      &:nth-of-type(even){
        margin:0px 60px 60px 30px;
        @include breakpoint(1100px){margin:0px 20px 60px 20px;}
        @include breakpoint(900px){margin:0px 0px 60px 0px;}
      }
      h3{
        font:200 36px/36px $work;
        margin:0px 0px 24px 0px;
      }
      .btn-green{
        display:inline-block;
        padding:0px 35px;
        margin:24px 0px 0px 0px;
      }
    }

    //for a single col
    .full{
      width:100%;
      display:flex;
      flex-wrap:wrap;
      justify-content: center;
      @include breakpoint(900px){justify-content: flex-start;}
      h3{
        text-align:center; 
        width:100%;
        @include breakpoint(900px){text-align:left;}
      }
      p{
        text-align:center; 
        width:100%;
        @include breakpoint(900px){text-align:left;}
      }
      .btn-green{
        margin:40px auto 0px;
        @include breakpoint(900px){margin:24px 0px 0px 0px;}
      }
    }

 } //end


 //admin display overrides
.wp-admin{
  .text-with-button{
    
  }
}