/*

HOME HERO STYLES

*/

 .home-hero{
  position:relative;
  margin:0px 0px 46px 0px;

  //text selection styles
  ::selection {
    background: $purple;
    color:$white;
  }
  ::-moz-selection {
    background: $purple;
    color:$white;
  }

  .bg-image{
    position:relative;
    width:100%; height:calc(100vh - 250px);
    display:flex;
    align-items:center;
    justify-content: flex-end;
    //background image and styles are brought in through the block
    @include breakpoint(1300px){height:calc(100vh - 150px);}
    @include breakpoint(600px){
      height:calc(100vh - 0px);
      justify-content: flex-start;
    }
    @include breakpoint-vert(879px){
      height:calc(100vh - 0px);
    }
    @include breakpoint-vert(555px){
      height:calc(100vh + 50px);
    }

    span{
      position:absolute;
      top:0; left:0;
      display:block;
      width:100%; height:100%;
      background: rgb(80,39,117);
      background: linear-gradient(90deg, rgba(80,39,117,0.9) 0%, rgba(9,9,121,0) 21%, rgba(9,9,121,0) 35%, rgba(80,39,117,0.9) 100%);
      @include breakpoint(600px){
        height:50vh;
        position:absolute;
        top:0px;
        background-color:$purple;
        background: linear-gradient(180deg, rgba(87,33,121,1) 0%, rgba(87,33,121,1) 70%, rgba(255,255,255,0) 100%);
        background: transparent;
      }
    }

    .text{
      position:relative;
      width:40%; height:auto;
      margin: 0 90px 0 0;
      display:flex;
      flex-wrap:wrap;
      @include breakpoint(600px){
        width:calc(90% - 30px);
        margin: 0 0px 0px 30px;
      }
      h1{
        color:$white;
        margin:0px 0px 30px 0px;
        width:100%;
      }
      p{
        color:$white;
        margin:0px 0px 30px 0px;
        width:100%;
      }
      .btn{
        max-width:215px;
        @include breakpoint(750px){display:inline-block;}
      }
    }
  }


  .links{
    width:100%;
    transform:translateY(-120px);
    @include breakpoint(750px){transform:translateY(-30px)}
    //verticle breakpoit
    @include breakpoint-vert(750px){transform:translateY(-30px)}
    ul{
      width:95%; //normal spread
      max-width:1364px;
      margin:0px auto;
      padding:0px;
      list-style-type: none;
      display:flex;
      flex-wrap:wrap;
      li{
        width:calc(25% - 152px);
        margin:0px 28px 0px 28px;
        padding:39px 48px;
        background-color:$green;
        border-radius: $border-rad;
        display:flex;
        flex-wrap:wrap;
        @include breakpoint(1344px){
          margin:0px 12px 0px 12px;
          width:calc(25% - 120px);
        }
        @include breakpoint(1080px){
          width:calc(50% - 120px);
          margin:0px 12px 12px 12px;
        }
        @include breakpoint(540px){
          width:100%;
        }
        h3{
          color:$white;
          margin:0px 0px 20px 0px;
          width:100%;
        }
        p{
          color:$white;
          margin:0px 0px 20px 0px;
          width:100%;
        }
        a{
          display:inline-block;
          align-self: flex-end;
        }
      }
    }
  }
}


 //admin display overrides
.wp-admin{
  .home-hero{
    .bg-image{
      height:400px;
    }
    .text{
      width:50%;
      right:30px;
      left:auto;
      .btn-green{
        position:relative;
        font: 700 14px/38px $work;
        text-align:center;
        width:150px;
        border-radius:$border-rad;
        padding:0px 20px;
        display:block;
        background-color:$green;
        color:$white;
      }
    }
    .links{
      transform: translateY(0px);
    }
    .links ul li{
      width:25%;
    }
  }
}