/*

GALLER/SLIDER BLOCK

*/


.gallery-slider{
  position:relative;
  width:100%;
  padding:0px 0px 140px 0px;
  @include breakpoint(925px){padding:0px 0px 90px 0px;}
  #gallery{
    position:relative;
    width:100%; height:500px;
    margin:0px auto;  
    overflow:hidden;
    @include breakpoint(900px){height:400px;}
    @include breakpoint(745px){height:300px; overflow: visible;}
    @include breakpoint(575px){height:200px;}
    .slick-track{
      height:500px;
      @include breakpoint(900px){height:400px;}
      @include breakpoint(745px){height:300px;}
      @include breakpoint(575px){height:200px;}
    }
    .slick-arrow{
      position:absolute;
      top:calc(50% - 29px);
      height:58px; width:58px;
      border-radius:58px;
      padding:0px;
      outline:none;
      border:none;
      text-indent:100000000px;
      overflow:hidden;
      z-index:9;
      background:rgba($purple,1) url('../src/icons/arrow.svg') center no-repeat;
      @include trans(0.3s);
      @include breakpoint(1024px){
        top:calc(50% - 19px);
        height:38px; width:38px;
        border-radius:38px;
      }
      @include breakpoint(745px){
        height:28px; width:28px;
        border-radius:28px;
        top:calc(100% + 15px);
      }
      &:hover{
        opacity:0.9;
        @include trans(0.3s);
      }
    }
    .slick-prev{
      left:30px;
      @include breakpoint(1024px){left:40px;}
      @include breakpoint(745px){left:150px;}
    }
    .slick-next{
      right:30px;
      transform: scaleX(-1);
      @include breakpoint(1024px){right:40px;}
      @include breakpoint(745px){right:150px;}
    }
    .slick-slide{
      margin:0px 15px;
      //forced 16:9
      height:100%; width:889px;
      border-radius:$border-rad;
      outline:none;
      border:none;
      &:focus{outline:none;}
      @include breakpoint(900px){width:711px;}
      @include breakpoint(745px){width:533px;}
      @include breakpoint(575px){width:356px;}
      //img is hidden but available for readers/bots alt tags
      img{opacity:0;}
      //you tube embed
      iframe{
        height:100%; width:889px;
        border-radius: $border-rad;
        overflow: hidden;
        -webkit-transform: translateZ(0);
        @include breakpoint(900px){width:711px;}
        @include breakpoint(745px){width:533px;}
        @include breakpoint(575px){width:356px;}
      }
      //video
      .video, .image{
        position:relative;
        display:flex;
        align-items:center;
        justify-content: space-between;
        height:100%; width:889px;
        background-color:$black;
        border-radius: $border-rad;
        overflow: hidden;
        -webkit-transform: translateZ(0);
        @include breakpoint(900px){width:711px;}
        @include breakpoint(745px){
          width:533px;
          justify-content:center;
          flex-wrap:wrap;
        }
        @include breakpoint(575px){width:356px;}
        .text{
          display:block;
          z-index:2;
          margin:0px 0px 0px 60px;
          width:80%;
          @include breakpoint(745px){
            width:100%;
            margin:0px auto;
          }
          h2{
            color:$white;
            margin:0px 0px 30px 0px;
            text-transform:uppercase;
            @include breakpoint(745px){
              font: 400 16px/20px $work;
              width:80%;
              margin:0px auto 15px;
            }
          }
          p{
            color:$white;
            @include breakpoint(745px){
              width:80%;
              margin:0px auto;
              font:300 12px/16px $open;
            }
          }
          .cta{
            margin:30px 0px 0px 0px;
            max-width:130px;
            @include breakpoint(745px){
              margin:15px 0px 0px 10%;
            }
          }
        }
        .cover{
          position:absolute;
          width:100%; height:100%;
          left:0; top:0;
          z-index:1;
          background-color:rgba(black, 1);
          opacity:0.5;
          display:block;
          border-radius:$border-rad;
        }
        img{
          display:block;
          margin:0px 150px 0px 0px;
          z-index:2;
          opacity:2;
          @include trans(0.2s);
          cursor:pointer;
          @include breakpoint(745px){margin:-120px 0px 0px 0px;}
          @include breakpoint(575px){
            width:60px;
            margin:-80px 0px 0px 0px;
            opacity:0.8;
          }
          &:hover{
            opacity:0.5;
            @include trans(0.2s);
          }
        }
        video{
          position:absolute;
          top:0px; left:0px;
          height:100%; width:100%;
          z-index:0;
        }
        
      }
    }
  }
}





 //admin display overrides
.wp-admin{
  .gallery-slider{
    
  }
}