/*

IMAGE WITH TEXT

*/

.tabbed-image-with-text{
  padding:0px 0px 140px 0px;
  @include breakpoint(925px){padding:0px 0px 90px 0px;}
  .tabs{
    margin:0px 0px 100px 0px;
    ul{
      list-style-type:none;
      padding:0px;
      display:flex;
      justify-content: center;
      li{
        width:220px; height:61px;
        border:1px solid $gray-dark;
        color:$gray-dark;
        text-align:center;
        font:700 24px/61px $work;
        cursor:pointer;
        @include trans(0.2s);
        @include breakpoint(925px){font:700 18px/61px $work;}
        @include breakpoint(600px){
          height:41px;
          font:700 14px/41px $work;
        }
        &:hover{
          background-color:$gray;
          @include trans(0.2s);
        }
        &:nth-of-type(2){
          border-top:1px solid $gray-dark;
          border-bottom:1px solid $gray-dark;
          border-right:none;
        }
        &:nth-of-type(3){
          border-top:1px solid $gray-dark;
          border-bottom:1px solid $gray-dark;
          border-right:none;
        }
        &:first-of-type{
          border-top:1px solid $gray-dark;
          border-left:1px solid $gray-dark;
          border-bottom:1px solid $gray-dark;
          border-right:none;
          border-radius: 8px 0px 0px 8px;
        }
        &:last-of-type{
          border:1px solid $gray-dark;
          border-radius: 0px 8px 8px 0px;
        }
      }
      .active{
        background-color:$green;
        color:$white;
        cursor:default;
        &:hover{
          background-color:$green;
          color:$white;
        }
      }
    }
  }


  span{
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    display:none;
    @include breakpoint(925px){flex-direction: column-reverse;}
    .image-side{
      position:relative;
      width:50%; //min-height:800px;
      border-radius:$border-rad;
      @include breakpoint(925px){width: 100%;}
      img{width:100%;}
    }

    .text-side{
      width:calc(50% - 180px);
      margin:0px 180px 0px 0px;
      @include breakpoint(1100px){
        margin:0px 0px 0px 80px;
        width:calc(50% - 80px);
      }
      @include breakpoint(925px){
        width: 100%;
        margin:50px 0px 0px 0px;
      }
      h2{
        color:$black;
        margin:0px 0px 50px 0px;
        width:90%;
        @include breakpoint(925px){width:100%}
      }
      p{
        color:$black;
        margin:0px 0px 60px 0px;
        width:80%;
        @include breakpoint(925px){width:100%}
      }
    }

 }

 .active-tab{
  display:flex;
 }
}

 


 //admin display overrides
.wp-admin{
  .tabbed-image-with-text{
    
  }
}