/*

BASIC BLOCK STYLES

*/

//blank template 
.blank{
  padding:150px 0px 100px 0px;
  width:90%; //normal spread
  max-width:1200px;
  margin:0px auto;
  span{
    display:block;
  }
  .title{
    margin:0px auto 50px;
  }
}

//basic text blocks
.basic-headline{
  margin:40px auto 10px;
  h1, h2, h3, h4, h5, h6{
    letter-spacing: .5px;
  }
}


.basic-text{
  margin:10px auto 40px;
  p{
    margin:10px auto 20px;
  }
}


.basic-wysiwyg{
  a{
    color:$purple-light;
    @include trans(0.2s);
    &:hover{
      color:$green;
      @include trans(0.2s);
    }
  }
  ul{
    margin:30px 0px;
    li{
      color:$gray-dark;
      font:400 16px/24px $open;
      margin:0px;
      @include breakpoint(768px){font:400 14px/22px $open;}
    }
  }
  strong{
    font:700 16px/24px $work;
    color:black;
    @include breakpoint(768px){font:700 14px/22px $work;}
  }
}


 //admin display overrides
.wp-admin{
  .callout{
    
  }
}