/*

Three Column CTA

*/


 .three-col-cta{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding:0px 0px 140px 0px;
    @include breakpoint(925px){padding:0px 0px 90px 0px;}
    div{
      width:350px;
      margin:0px 0px 60px 0px;
      @include breakpoint(1400px){width:300px;}
      @include breakpoint(1200px){width:250px;}
      @include breakpoint(1100px){width:350px;}
      @include breakpoint(947px){width:300px;}
      @include breakpoint(813px){width:250px;}
      @include breakpoint(670px){width:100%;}
      img{
        width:100%; height:auto;
        border-radius:$border-rad;
        margin:0px 0px 21px 0px;
      }
      h3{
        font-weight:200;
        margin:0px 0px 11px 0px;
      }
      .copy{
        color:$gray-dark;
      }
      .btn-green-sm{
        margin:20px 0px 0px 0px;
        max-width:250px;
        display:inline-block;
      }
    }

 } //end


 //admin display overrides
.wp-admin{
  .recent-posts{
    
  }
}