/*

SPONSORS LIST BLOCK

*/


 .sponsors-list{
    display:flex;
    flex-wrap:wrap;
    padding: 0 0 140px;
    @include breakpoint(925px){padding:0px 0px 90px 0px;}
    span{
      display:block;
      width:calc(100% - 550px);
      margin:0px;
      @include breakpoint(1400px){width:calc(100% - 450px);}
      @include breakpoint(1000px){width:100%;}
      
      h2{margin:40px 0px 30px 0px;}
      p{margin:0px 0px 30px 0px;}
      strong{font-weight:700;}
      .link{
        display:inline-block;
        margin:7px 0px 0px 0px;
      }
      ul{
        list-style-type:none;
        padding:0px;
        width:100%;
        display:flex;
        flex-wrap:wrap;
        margin:0px;
        li{
          margin:0px 25px;
          width:calc(33% - 50px);
          img{width:100%; height:100%;}
          @include breakpoint(1500px){width:calc(50% - 50px);}
          // @include breakpoint(1130px){width:calc(50% - 50px);}
          // @include breakpoint(1000px){width:calc(25% - 50px);}
          // @include breakpoint(700px){width:calc(33% - 50px);}
          // @include breakpoint(500px){width:calc(50% - 50px);}
        }
      }

      &:first-of-type{
        width:300px;
        margin:0px 250px 0px 0px;
        @include breakpoint(1400px){margin:0px 150px 0px 0px;}
        @include breakpoint(1000px){
          width:100%;
          margin:0px;
        }
      }

    }
 } //end


 //admin display overrides
.wp-admin{
  .sponsors-list{
    
  }
}