/*

INTERNAL HERO LOCK

*/


 .hero-internal{
  position:relative;
  margin:0px 0px 140px 0px;
  padding:107px 0px 0px 0px;
  @include breakpoint(1060px){padding:88px 0px 0px 0px;}
  @include breakpoint(925px){margin:0px 0px 90px 0px;}

  //text selection styles
  ::selection {
    background: $purple;
    color:$white;
  }
  ::-moz-selection {
    background: $purple;
    color:$white;
  }


  .bg-image{
    position:relative;
    width:100%; min-height:600px;
    display:flex;
    align-items:center;
    z-index:1;
    //background image and styles are brought in through the block
    @include breakpoint(1300px){height:calc(100vh - 150px);}
    @include breakpoint(600px){
      height:calc(100vh - 90px);
      min-height:0px;
      align-items:flex-end;
    }

    span{
      position:absolute;
      top:0; bottom:0; left:0;
      margin:auto;
      display:block;
      z-index:0;
      width:100%; height:100%;
      background: rgb(80,39,117);
      background: linear-gradient(90deg, rgba(80,39,117,0.9) 0%, rgba(9,9,121,0) 50%, rgba(80,39,117,0.2) 70%, rgba(80,39,117,0.4) 100%);
      @include breakpoint(600px){
        height:50vh;
        position:absolute;
        top:calc(100% - 50vh);
        background-color:$purple;
        background: linear-gradient(0deg, rgba(87,33,121,0.8) 0%, rgba(87,33,121,0.7) 70%, rgba(255,255,255,0) 100%);
      }
    }

    .text{
      z-index:1;
      width:50%;
      max-width:550px;
      padding:100px 0px 100px 150px;
      @include breakpoint(1240px){padding:0px 0px 0px 30px;}
      @include breakpoint(600px){
        width:80%;
        padding:0px 0px 0px 0px;
        margin:0px auto 50px;
      }
      h1{
        color:$white;
        margin:0px 0px 30px 0px;
      }
      p{
        color:$white;
        margin:0px 0px 30px 0px;
      }
      .btn{
        max-width:215px;
      }
    }
  }
  
  .bg-image.no-callout{
    min-height:0px;
  }

  .hero-callout{
    position:relative;
    transform:translateY(-90px);
    background-color:$green;
    border-radius:$border-rad;
    display:flex;
    flex-wrap:wrap;
    padding:50px 60px;
    width:calc(90% - 120px);
    max-width:1200px;
    margin:0px auto -90px;
    z-index:2;
    @include breakpoint(1024px){
      margin:0px auto 0px;
      padding:50px 30px;
      width:calc(90% - 60px);
      transform:translateY(30px);
    }
    @include breakpoint(600px){padding:36px 30px;}
    span{
      display:flex;
      flex-wrap:wrap;
      width:50%;
      @include breakpoint(600px){width:100%;}
      h2{
        color:$white;
        font:700 48px/48px $work;
        width:100%;
        margin:0px 0px 18px 0px;
        @include breakpoint(1024px){font:700 30px/34px $work;}
        @include breakpoint(600px){text-align:center;}
      }
      p{
        color:$white;
        font:200 36px/36px $work;
        width:100%;
        @include breakpoint(1024px){font:200 24px/24px $work;}
        @include breakpoint(600px){
          text-align:center;
          font:200 20px/20px $work;
        }
      }
      .tel{
        color:$white;
        font:700 48px/48px $work;
        width:100%;
        text-align:right;
        @include breakpoint(1024px){font:700 30px/34px $work;}
        @include breakpoint(600px){text-align:center;}
      }
      .btn-purple{
        min-width:200px;
        margin:0px 0px 18px 0px;
        margin-left: auto;
        height:47px;
        @include breakpoint(1024px){min-width:150px;}
        @include breakpoint(600px){margin:30px auto;}
      }
    }
  }



 } //end


 //admin display overrides
.wp-admin{
  .hero-internal{
    
  }
}