/*

BLOCK

*/


 .accordion-link-list{
    padding:0px 0px 140px 0px;
    @include breakpoint(925px){padding:0px 0px 90px 0px;}
    .heading{
      h2{text-align:center;}
      p{
        margin:28px auto;
        width:80%;
        max-width:655px;
        text-align:center;
      }
    }

    .accordion{
      display:block;
      border-bottom:1px solid $gray;
      h6{
        position:relative;
        width:calc(100% - 50px);
        padding:42px 0px;
        cursor:pointer;
        @include trans(0.3s);
        &:hover{
          @include trans(0.3s);
          opacity:0.7;
        }
        &:after{
          content:"";
          position:absolute;
          top:41px; right:-50px;
          height:42px; width:42px;
          transform:rotate(-90deg);
          border-radius:42px;
          background:$green url('../src/icons/arrow.svg') center no-repeat;
          @include trans(0.3s);
          @include breakpoint(800px){height:30px; width:30px; top:46px;}
        }
      }
      ul{
        list-style-type:none;
        padding:0px;
        margin:0px;
        display:flex;
        flex-wrap:wrap;
        max-height:0px;
        opacity:0;
        transform: scaleY(0);
        overflow:hidden;
        animation: shrinkAcc 0.3s ease-in-out;
        transition: max-height 0.3s ease-in-out;
        li{
          width:calc(33.333% - 80px);
          margin:0px 40px 60px 40px;
          @include breakpoint(1024px){
            width:calc(50% - 80px);
          }
          @include breakpoint(600px){
            width:calc(100% - 0px);
            margin:0px 0px 60px 0px;
          }
          h3{
            margin:0px 0px 20px 0px;
          }
        }
        .full{
          width:calc(100% - 80px);
        }
        a{
          text-decoration: underline;
          @include trans(0.2s);
          &:hover{
            @include trans(0.2s);
            color:$green;
          }
        }
      }
      &-open{
        @extend .accordion;
        ul{
          max-height:2000px;
          transform: scaleY(1);
          opacity:1;
          margin:38px 0px;
          animation: growAcc 0.5s ease-in-out;
          // transition: opacity 1s ease-in-out;
          transition: max-height 0.5s ease-in-out;
        }
        h6{
          &:after{
            content:"";
            @include trans(0.3s);
            transform:rotate(90deg);
          }
        }
        
      }
    }
 } //end

 @keyframes shrinkAcc {
  0% {
    opacity:1;
    margin:38px 0px;
    transform: scaleY(1);
  }
  99%{
    opacity:0;
    margin:0px 0px;
    transform: scaleY(1);
  }
  100% {
    opacity:0;
    margin:0px 0px;
    transform: scaleY(0);
  }
}

@keyframes growAcc {
  0% {
    opacity:0;
    margin:0px 0px;
    transform: scaleY(0);
  }
  1%{
    opacity:0;
    margin:0px 0px;
    transform: scaleY(1);
  }
  100% {
    opacity:1;
    margin:38px 0px;
    transform: scaleY(1);
  }
}


 


 //admin display overrides
.wp-admin{
  .accordion-link-list{
    
  }
}