/*

BLOCK

*/


 .testimonial-slider{
    background-color:$purple;
    padding:73px 0px;
    margin:0px 0px 140px 0px;
    @include breakpoint(925px){margin:0px 0px 90px 0px;}
    h4{
      color:$white;
      text-transform:uppercase;
      text-align:center;
    }

    #testimonials{
      width:730px;
      margin:42px auto 0px;
      @include breakpoint(833px){width:85%;}
      .slick-slide{
        max-width:730px;
        width:90%;
        margin:0px auto;
        p{
          color:$white;
          font:300 24px/34px $open;
          text-align:center;
          @include breakpoint(833px){font:300 18px/28px $open;}
        }
        .name{
          font:700 20px/24px $work;
          margin:24px 0px 0px 0px;
          @include breakpoint(833px){font:700 16px/26px $work;}
        }
      }



      .slick-arrow{
        position:absolute;
        top:calc(50% - 77px);
        height:58px; width:58px;
        border-radius:58px;
        padding:0px;
        outline:none;
        border:none;
        text-indent:100000000px;
        overflow:hidden;
        background:$purple-light url('../src/icons/arrow.svg') center no-repeat;
        @include trans(0.3s);
        @include breakpoint(1024px){
          top:calc(100% - 27px);
          height:38px; width:38px;
          border-radius:38px;
        }
        &:hover{
          opacity:0.7;
          @include trans(0.3s);
        }
      }
      .slick-prev{
        left:-130px;
        @include breakpoint(1024px){left:0px;}
      }
      .slick-next{
        right:-130px;
        transform: scaleX(-1);
        @include breakpoint(1024px){right:0px;}
      }

      .slick-dots{
        padding:0px;
        margin:36px 0px 0px 0px;
        list-style-type:none;
        display:flex;
        justify-content:center;
        @include breakpoint(1024px){margin:100px 0px 0px 0px;}
        li{
          width:8px; height:8px;
          border-radius:8px;
          background-color:$purple-light;
          margin:0px 3px;
          cursor:pointer;
          @include trans(0.3s);
          button{display:none;}
          &:hover{
            opacity:0.7;
            @include trans(0.3s);
          }
        }
        .slick-active{
          width:12px; height:12px;
          border-radius:12px;
          background-color:$green;
          transform:translateY(-2px);
          cursor:default;
          @include trans(0.3s);
          &:hover{
            opacity:1;
          }
        }
      }

    }
 } //end


 //admin display overrides
.wp-admin{
  .testimonial-slider{
    h4{color:$white;}
    #testimonials{
      p{color:$white;}
      .name{color:$white;}

      div{display:none;}
      div:first-of-type{display:block; margin:0px 0px 50px 0px;}
      div:nth-of-type(2){display:block;}
    }
  }
}