/*

BLOCK TEXT BUILDER

*/


 .text-builder{
  padding: 0 0 140px;
  @include breakpoint(925px){padding:0px 0px 90px 0px;}
  h2{
    margin:0px 0px 50px 0px;
  }
  h5{
    color:$gray-dark;
    margin:50px 0px 10px 0px;
  }
  p{
    margin:0px 0px 20px 0px;
    color:$black;
  }
  strong{
    font-weight:700;
  }
  a{
    color:$purple-light;
    @include trans(0.2s);
    &:hover{
      color:$green;
      @include trans(0.2s);
    }
  }
  ul{
    margin:15px 0px;
    li{
      color:$gray-dark;
      font:400 16px/24px $open;
      margin:0px;
      @include breakpoint(768px){font:400 14px/22px $open;}
    }
  }

  .btn-green{
    display: inline-block;
    margin:50px 0px 20px 0px;
    @include trans(0.2s);
    &:hover{
      @include trans(0.2s);
      color:$white;
    }
  }

 } //end


 //admin display overrides
.wp-admin{
  .text-with-button{
    
  }
}