/*

HISTORY SLIDER BLOCK

*/


.history-slider{
  position:relative;
  background-color:$purple;
  padding:100px 0px;
  margin:0px 0px 140px 0px;
  @include breakpoint(1000px){padding:70px 0px;}
  @include breakpoint(925px){margin:0px 0px 90px 0px;}

  //text selection styles
  ::selection {
    background: $purple;
    color:$white;
  }
  ::-moz-selection {
    background: $purple;
    color:$white;
  }


  .heading{
    display:flex;
    margin:0px auto;
    width:70%;
    @include breakpoint(1000px){
      flex-wrap:wrap;
    }
    h2{
      color:$white;
      margin:0px 150px 0px 0px;
      @include breakpoint(1000px){
        width:100%; 
        text-align:center;
        margin:0px 0px 30px 0px;
      }
    }
    p{
      color:$white;
      @include breakpoint(1000px){width:100%; text-align:center;}
    }
  }

  .wrap{
    position:relative;
    overflow:hidden;
    z-index:1;
    &:after{
      content:"";
      position:absolute;
      top:calc(50% + 20px); left:0px;
      width:100%; height:5px;
      background: $white;
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 100%);
      @include breakpoint(500px){
        top:calc(0% + 83px);
      }
    }
  }

  .slick-arrow{
    position:absolute;
    top:calc(50% + 23px);
    height:58px; width:58px;
    border-radius:58px;
    padding:0px;
    outline:none;
    border:none;
    text-indent:100000000px;
    overflow:hidden;
    background:$purple-light url('../src/icons/arrow.svg') center no-repeat;
    @include trans(0.3s);
    @include breakpoint(1561px){top:calc(50% + 34px);}
    @include breakpoint(1181px){top:calc(50% + 49px);}
    &:hover{
      opacity:0.7;
      @include trans(0.3s);
    }
  }
  .prev{
    left:100px;
    @include breakpoint(1561px){left:50px;}
  }
  .next{
    right:100px;
    transform: scaleX(-1);
    @include breakpoint(1561px){right:50px;}
  }


  .swipe-icon{
    display:none;
    @include breakpoint(1000px){
      display:block;
      width:150px;
      margin:50px auto 0px;
    }
    @include breakpoint(600px){margin:30px auto 0px;}
    img, svg{width:100%;}
  }
  

  #history{
    margin:42px auto 0px;
    padding:200px 0px;
    overflow:visible;
    background-color:transparent;
    z-index:2;
    @include breakpoint(500px){padding:0px 0px 100px 0px;}
    .slick-list{overflow:visible;}
    .slick-slide{
      position:relative;
      width:25%; height:124px;
      padding:70px 30px 0px 30px;
      margin:0px 0px 0px 70px;
      border-left:1px solid #DEDEDE;
      transform:translate(0px, calc(50% - 10px));
      @include breakpoint(650px){height:220px;}
      @include breakpoint(500px){
        padding:50px 30px 0px 30px;
        margin:0px 0px 0px 30px;
        transform:translate(0px, calc(50% - 103px));
      }
      &:focus{outline:none;}
      h5{
        color:$white;
        font:700 20px/24px $work;
        margin:0px 0px 20px 0px;
      }
      p{
        color:$white;
        min-width:470px;
        @include breakpoint(1000px){min-width:320px;}
        @include breakpoint(500px){min-width:200px;}
      }
      &:after{
        content:"";
        width:24px; height:24px;
        background-color:$green;
        border-radius:24px;
        position:absolute;
        left:-13px;
        z-index:99;
      }
      &:nth-of-type(odd){
        &:after{
          top:0px;
        }
      }
      //top line of history
      &:nth-of-type(even){
        transform:translate(0px, calc(-50% + 14px));
        padding:0px 30px 70px 30px;
        @include breakpoint(500px){
          transform:translate(0px, calc(0% - -31px));
          padding:50px 30px 0px 30px;
        }
        &:after{
          bottom:0px;
          @include breakpoint(500px){top:0px; bottom:auto;}
        }
      }
    }
  }
} //end


 //admin display overrides
.wp-admin{
  .history-slider{
    
  }
}